extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 饲养管理
                        li
                            a(href='/henhouse/control/1/') 养鸡模型
                        li
                            a(href='/henhouse/control/list/1/?varietyId=#{variety.id}') #{variety.varieties_name}
                        li.am-active #{message}
                hr
                form#addControlForm.am-form.am-form-horizontal(data-am-validator)
                    .am-g
                        .am-u-sm-12
                            h3 请选择月份：
                        .am-u-sm-10.am-u-end.am-u-sm-offset-1
                            #monthCheck.am-btn-group(data-am-button='')
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='1')
                                    |  一月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='2')
                                    |  二月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='3')
                                    |  三月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='4')
                                    |  四月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='5')
                                    |  五月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='6')
                                    |  六月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='7')
                                    |  七月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='8')
                                    |  八月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='9')
                                    |  九月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='10')
                                    |  十月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='11')
                                    |  十一月
                                label.am-btn.am-btn-primary
                                    input(type='checkbox', name='month', value='12')
                                    |  十二月
                    hr
                    .am-g
                        .am-u-sm-12
                            h3 请输入日龄范围：
                        .am-u-sm-10.am-u-end.am-u-sm-offset-1
                            .am-form-inline.am-padding-bottom-0
                                .am-form-group
                                    input(type='number',min='1',required,name='age_range_begin',placeholder='日龄开始值')
                                | &nbsp;&nbsp;-&nbsp;&nbsp;
                                .am-form-group
                                    input(type='number',min='1',required,name='age_range_end',placeholder='日龄结束值')
                                | &nbsp;&nbsp;日
                    hr
                    .am-g
                        .am-u-sm-12
                            h3 请输入控制流程：
                        .am-u-sm-10.am-u-end.am-u-sm-offset-1
                            #henhouseControl.am-tabs(data-am-tabs)
                                ul.am-tabs-nav.am-nav.am-nav-tabs
                                    li.am-active
                                        a(href='#door') 鸡舍门
                                    li
                                        a(href='#crib') 食槽
                                    li
                                        a(href='#light') 照明灯
                                    li
                                        a(href='#hot') 电热伴
                                    li
                                        a(href='#wind') 风机
                                    li.am-hide
                                        a(href='#warm') 暖灯
                                    li.am-hide
                                        a(href='#sterilize') 杀菌灯
                                .am-tabs-bd
                                    #door.am-tab-panel.am-fade.am-in.am-active
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 开启时间
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='open_door_date')
                                            .am-hide-sm-only.am-u-md-6 *必填，鸡舍门的开启时间
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 关闭时间
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='shut_door_date')
                                            .am-hide-sm-only.am-u-md-6 *必填，鸡舍门的关闭时间
                                    #crib.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 上午
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='morning_open_trough_date')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 中午
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='in_open_trough_date')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 下午
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='night_open_trough_date')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top-lg
                                            .am-u-sm-11.am-u-sm-offset-1
                                                hr
                                                p 注：每次开启时间为2小时。
                                    #light.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 开启时间
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='open_lamp_date')
                                            .am-hide-sm-only.am-u-md-6 *必填，照明灯的开启时间
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 关闭时间
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm.time(type='time',required,name='shut_lamp_date')
                                            .am-hide-sm-only.am-u-md-6 *必填，照明灯的关闭时间
                                    #hot.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最高温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number',required,name='heat_high_temperature')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最低温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number',required,name='heat_low_temperature')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top-lg
                                            .am-u-sm-11.am-u-sm-offset-1
                                                hr
                                                p 注：低于最低温度开始运行，高于最高温度停止运行。
                                    #wind.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最高温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number',required,name='fan_high_temperature')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最低温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number',required,name='fan_low_temperature')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top-lg
                                            .am-u-sm-11.am-u-sm-offset-1
                                                hr
                                                p 注：低于最低温度停止运行，高于最高温度开始运行。
                                    #warm.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最高温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最低温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top-lg
                                            .am-u-sm-11.am-u-sm-offset-1
                                                hr
                                                p 注：低于最低温度开始运行，高于最高温度停止运行。
                                    #sterilize.am-tab-panel.am-fade
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最高温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top
                                            .am-u-sm-4.am-u-md-2.am-text-right
                                                | 最低温度
                                            .am-u-sm-8.am-u-md-4
                                                input.am-input-sm(type='number')
                                            .am-hide-sm-only.am-u-md-6 *必填
                                        .am-g.am-margin-top-lg
                                            .am-u-sm-11.am-u-sm-offset-1
                                                hr
                                                p 注：低于最低温度开始运行，高于最高温度停止运行。
                    .am-g.am-margin-top-lg
                        .am-u-sm-4.am-text-center
                            button#prevControlPage.am-btn.am-btn-primary(type='button') 上一页
                        .am-u-sm-4.am-text-center
                            button#submitTaskButton.am-btn.am-btn-primary(type='button') 保存
                        .am-u-sm-4.am-text-center
                            button#nextControlPage.am-btn.am-btn-primary(type='button') 下一页
                .am-g.am-margin-top-lg
                    .am-u-sm-12
                        hr
                        p 注：根据月份和鸡的日龄范围组合，编辑多套自动控制流程，符合条件的鸡舍将自动切换自动控制流程。
            include ../includes/footer
        // content end
    #alert.am-modal.am-modal-alert(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 警告
            .am-modal-bd
            .am-modal-footer
                span.am-modal-btn 确定
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var page = Hen.ToolsController.getQueryString('page'); // 获取当前页
                var varietyId = Hen.ToolsController.getQueryString('varietyId'); // 获取品种id
                var controlId = Hen.ToolsController.getQueryString('controlid'); // 控制id
                $.ajax({
                    url: "/control/ajax",
                    type: "post",
                    data: {"varietyId": varietyId, "controlId": controlId},
                    async: false,
                    success: function (data) {
                        var controlItems = data.controlItems;
                        var month = data.invoke_data_control.brith_month;
                        localStorage.setItem('monthControl', month);
                        $.each(controlItems, function (index) {
                            var taskControl = JSON.stringify(controlItems[index])
                            localStorage.setItem('taskControl' + (index + 1), taskControl);
                        });
                    }
                })

                // == 控制不可用月份
                var monthDistable = [#{data}];
                $.each(monthDistable, function (index) {
                    $('#monthCheck').find('input[value="' + monthDistable[index] + '"]').parent('label').addClass('am-disabled')
                });

                // 月份回显
                if (localStorage.getItem('monthControl') != null && localStorage.getItem('monthControl') != "") {
                    var monthChecked = localStorage.getItem('monthControl').split(',')
                    $.each(monthChecked, function (index) {
                        $('#monthCheck').find('input[value="' + monthChecked[index] + '"]').prop('checked', true).parent('label').removeClass('am-disabled').addClass('am-active')
                    })
                }

                // == 数据回显
                if (localStorage.getItem('taskControl' + page) != null && localStorage.getItem('taskControl' + page) != "") {
                    var viewTask = $.parseJSON(localStorage.getItem('taskControl' + page));
                    $('input[name="age_range_begin"]').val(viewTask.age_range_begin);
                    $('input[name="age_range_end"]').val(viewTask.age_range_end);
                    $('input[name="open_door_date"]').val(viewTask.open_door_date);
                    $('input[name="shut_door_date"]').val(viewTask.shut_door_date);
                    $('input[name="morning_open_trough_date"]').val(viewTask.morning_open_trough_date);
                    $('input[name="in_open_trough_date"]').val(viewTask.in_open_trough_date);
                    $('input[name="night_open_trough_date"]').val(viewTask.night_open_trough_date);
                    $('input[name="open_lamp_date"]').val(viewTask.open_lamp_date);
                    $('input[name="shut_lamp_date"]').val(viewTask.shut_lamp_date);
                    $('input[name="heat_high_temperature"]').val(viewTask.heat_high_temperature);
                    $('input[name="heat_low_temperature"]').val(viewTask.heat_low_temperature);
                    $('input[name="fan_high_temperature"]').val(viewTask.fan_high_temperature);
                    $('input[name="fan_low_temperature"]').val(viewTask.fan_low_temperature);
                }

                if (Hen.ToolsController.getQueryString('page') != 1) {
                    if (localStorage.getItem('taskControl' + (page - 1)) != null && localStorage.getItem('taskControl' + (page - 1)) != "") {
                        var viewTask = $.parseJSON(localStorage.getItem('taskControl' + (page - 1)));
                        $.each(viewTask, function () {
                            $('input[name="age_range_begin"]').val(parseInt(viewTask.age_range_end) + 1).prop('readonly', true);
                        })
                    }
                }

                pageTurn(page,varietyId)

                // == 数据提交
                $('#submitTaskButton').on('click', function () {
                    var taskControl = []
                    if (checkForm()) {
                        localStorage.setItem('taskControl' + page, JSON.stringify(saveData()));
                        for (var i = 1; ; i++) {
                            if (localStorage.getItem('taskControl' + i) != null && localStorage.getItem('taskControl' + i) != "") {
                                taskControl = taskControl.concat($.parseJSON(localStorage.getItem('taskControl' + i)))
                                continue
                            } else {
                                break;
                            }
                        }
                        $.ajax({
                            url: "/control/update",
                            type: "post",
                            data: {
                                "save": {
                                    "month": localStorage.getItem('monthControl'),
                                    "controlId": Hen.ToolsController.getQueryString('controlid'),
                                    "varietyId": varietyId,
                                    "controlItems": taskControl
                                }
                            },
                            success: function (data) {
                                window.location.href = '/henhouse/control/list/1/?varietyId=' + varietyId
                            }
                        })
                    }
                })

                $('input[name="age_range_end"]').on('blur',function () {
                    var age_range_end = $(this).val();
                    var age_range_begin = $('input[name="age_range_begin"]').val();
                    if (parseInt(age_range_end) <= parseInt(age_range_begin)){
                        alertModal("日龄结束值需大于日龄开始值");
                        $(this).val("").focus();
                    }
                });

                $('.time').jeDate({
                    ishmsVal: false,
                    format: "hh:mm",
                    zIndex: 3000
                })

                // == 翻页功能
                function pageTurn(page,varietyId) {
                    var $prevControlPage = $('#prevControlPage');
                    var $nextControlPage = $('#nextControlPage');

                    // == 判断上一页是否禁用
                    if(parseInt(page) === 1){
                        $prevControlPage.prop('disabled',true)
                    }else{
                        $prevControlPage.prop('disabled',false)
                    }

                    // == 点击上一页跳转
                    $prevControlPage.on('click', function () {
                        window.location.href = '/control/edit/?varietyId=' + varietyId + '&init=edit&controlid='+controlId+'&page='+ --page
                    });
                    // == 点击下一页跳转
                    $nextControlPage.on('click',function (e) {
                        if(checkForm()){
                            localStorage.setItem('taskControl'+page, JSON.stringify(saveData()));
                            window.location.href = '/control/edit/?varietyId=' + varietyId + '&init=edit&controlid='+controlId+'&page=' + ++page
                        }
                    });
                }

                // == 表单验证
                function checkForm() {
                    var age_range_begin = $('input[name="age_range_begin"]').val();
                    var age_range_end = $('input[name="age_range_end"]').val();
                    var open_door_date = $('input[name="open_door_date"]').val();
                    var shut_door_date = $('input[name="shut_door_date"]').val();
                    var morning_open_trough_date = $('input[name="morning_open_trough_date"]').val();
                    var in_open_trough_date = $('input[name="in_open_trough_date"]').val();
                    var night_open_trough_date = $('input[name="night_open_trough_date"]').val();
                    var open_lamp_date = $('input[name="open_lamp_date"]').val();
                    var shut_lamp_date = $('input[name="shut_lamp_date"]').val();
                    var heat_high_temperature = $('input[name="heat_high_temperature"]').val();
                    var heat_low_temperature = $('input[name="heat_low_temperature"]').val();
                    var fan_high_temperature = $('input[name="fan_high_temperature"]').val();
                    var fan_low_temperature = $('input[name="fan_low_temperature"]').val();
                    // == 请选择月份
                    var month = $("input[type='checkbox']:checked").length;
                    if (month <= 0) {
                        alertModal("请选择月份");
                        return false
                    }
                    if (age_range_begin == "" || age_range_end == "") {
                        alertModal('请输入日龄范围');
                        return false
                    }
                    if (open_door_date == "" || shut_door_date == "") {
                        $('#henhouseControl').tabs('open', $('a[href="#door"]'));
                        alertModal('请填写鸡舍门信息');
                        return false
                    }
                    if (morning_open_trough_date == "" || in_open_trough_date == "" || night_open_trough_date == "") {
                        $('#henhouseControl').tabs('open', $('a[href="#crib"]'));
                        alertModal('请填写食槽信息');
                        return false
                    }
                    if (open_lamp_date == "" || shut_lamp_date == "") {
                        $('#henhouseControl').tabs('open', $('a[href="#light"]'));
                        alertModal('请填写照明灯信息');
                        return false
                    }
                    if (heat_high_temperature == "" || heat_low_temperature == "") {
                        $('#henhouseControl').tabs('open', $('a[href="#hot"]'));
                        alertModal('请填写电热伴信息');
                        return false
                    }
                    if (fan_high_temperature == "" || fan_low_temperature == "") {
                        $('#henhouseControl').tabs('open', $('a[href="#wind"]'));
                        alertModal('请填写风机信息');
                        return false
                    }
                    return true
                }

                function saveData() {
                    var age_range_begin = $('input[name="age_range_begin"]').val();
                    var age_range_end = $('input[name="age_range_end"]').val();
                    var open_door_date = $('input[name="open_door_date"]').val();
                    var shut_door_date = $('input[name="shut_door_date"]').val();
                    var morning_open_trough_date = $('input[name="morning_open_trough_date"]').val();
                    var in_open_trough_date = $('input[name="in_open_trough_date"]').val();
                    var night_open_trough_date = $('input[name="night_open_trough_date"]').val();
                    var open_lamp_date = $('input[name="open_lamp_date"]').val();
                    var shut_lamp_date = $('input[name="shut_lamp_date"]').val();
                    var heat_high_temperature = $('input[name="heat_high_temperature"]').val();
                    var heat_low_temperature = $('input[name="heat_low_temperature"]').val();
                    var fan_high_temperature = $('input[name="fan_high_temperature"]').val();
                    var fan_low_temperature = $('input[name="fan_low_temperature"]').val();

                    var strMonthChecked = '';
                    $('#monthCheck').find('input[name="month"]:checked').each(function (index, dom) {
                        strMonthChecked += $(dom).val() + ","
                    })
                    var month = strMonthChecked.substring(0, strMonthChecked.length - 1);
                    localStorage.setItem('monthControl', month);

                    var tasks = {};
                    tasks.age_range_begin = age_range_begin;
                    tasks.age_range_end = age_range_end;
                    tasks.open_door_date = open_door_date;
                    tasks.shut_door_date = shut_door_date;
                    tasks.morning_open_trough_date = morning_open_trough_date;
                    tasks.in_open_trough_date = in_open_trough_date;
                    tasks.night_open_trough_date = night_open_trough_date;
                    tasks.open_lamp_date = open_lamp_date;
                    tasks.shut_lamp_date = shut_lamp_date;
                    tasks.heat_high_temperature = heat_high_temperature;
                    tasks.heat_low_temperature = heat_low_temperature;
                    tasks.fan_high_temperature = fan_high_temperature;
                    tasks.fan_low_temperature = fan_low_temperature;

                    return tasks;

                }

                // 警告框
                function alertModal(str) {
                    $('#alert').find('.am-modal-bd').text(str);
                    $('#alert').modal('open');
                }
            })(Hen) 
        });
