extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 饲养管理
                        li
                            a(href='/henhouse/control/1/') 养鸡模型
                        li.am-active #{variety.varietiesName}
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                a#addMember.am-btn.am-btn-default(href='/control/add/?varietyId=#{variety.id}&init=add&page=1') 添加控制流程
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂未添加控制流程，请点击添加控制流程添加
                    else
                        .am-u-sm-12
                            table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                                thead
                                    tr
                                        th 序号
                                        th 月份
                                        th 操作
                                tbody#memberListBody
                                    each item,index in data
                                        tr(data-controlid='#{item.id}')
                                            td #{index+1}
                                            td #{item.brith_month}
                                            td
                                                a.am-btn.am-btn-secondary(href='/control/view/?varietyId=#{variety.id}&init=view&controlid=#{item.id}&page=1') 查看
                                                a.am-btn.am-btn-success(href='/control/edit/?varietyId=#{variety.id}&init=edit&controlid=#{item.id}&page=1') 编辑
                                                button.am-btn.am-btn-danger.deleteControl 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    // 删除控制流程确认模态框
    #deleteContorlModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel) 取消
                span.am-modal-btn(data-am-modal-confirm) 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $memberListBody = $('#memberListBody');
                var $totalCount = $('#totalCount');
                $totalCount.text($memberListBody.children('tr').length)
                var varietyId = Hen.ToolsController.getQueryString('varietyId');
                window.localStorage.clear();
                var $deleteControl = $('.deleteControl');
                $deleteControl.on('click',function () {
                    $('#deleteContorlModal').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var controlId = $(this.relatedTarget).parents('tr').data('controlid');
                            $.ajax({
                                type: 'delete',
                                url: '/control/delete',
                                data: {"controlId": controlId},
                                success: function (data, status, xhr) {
                                    window.location.href = '/henhouse/control/list/1/?varietyId='+varietyId
                                },
                                error: function () {
                                    console.error("控制流程页错误！！！");
                                }
                            });
                        }
                    });
                })
            })(Hen)
        });