extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养管理
                        li.am-active 养鸡模型
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂无鸡舍控制信息
                    else
                        .am-u-sm-12
                            table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                                thead
                                    tr
                                        th 品种名称
                                        th 简介
                                tbody
                                    each item in data
                                        tr
                                            td.am-text-middle(style="width:200px")
                                                a(href='/henhouse/control/list/1/?varietyId=#{item.id}',style='color:#333') #{item.varieties_name}
                                            td.am-text-middle
                                                a(href='/henhouse/control/list/1/?varietyId=#{item.id}',style='color:#333') #{item.introduce}
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：选择品种，编辑该品种的自动控制模型。
            include ../includes/footer
        // content end
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $loadingModal = $('#loadingModal')
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/henhouse/control/" + num + "/";
                        }
                    }
                });
            })(Hen)
        });