extends ../layout

block content
    .am-cf.admin-main
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养管理
                        li.am-active 饲养员列表
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                button#addBreeder.am-btn.am-btn-default(type='button',data-am-loading='{spinner: "circle-o-notch", loadingText: "加载中..."}') 添加饲养员
                hr
                if (!data.length)
                    .am-u-sm-12
                        #Tips.am-alert.am-alert-danger(data-am-alert) 暂无展示信息
                else
                    .am-u-sm-12
                        table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                            thead
                                tr
                                    th 序号
                                    th(style="width:100px") 真实姓名
                                    th 用户名
                                    th(style="min-width:300px;width:400px") 管理鸡舍
                                    th 添加日期
                                    th 操作
                            tbody#memberListBody
                                each item,index in data
                                    tr(data-breederid='#{item.id}')
                                        td #{index+1}
                                        td #{item.name}
                                        td #{item.username}
                                        td #{item.hencoop}
                                        td #{moment(item.create_date.time).format("YYYY年MM月DD日")}
                                        td
                                            a.am-btn.am-btn-primary(href='/breeder/view/#{item.id}') 查看
                                            button.am-btn.am-btn-danger.deleteBreeder 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p #{notes}
            include ../includes/footer
    // 添加饲养员模态框
    #addBreederModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 添加饲养员
                a.am-close.am-close-spin(href='javascript:;',data-am-modal-close) &times;
            .am-modal-bd
                form#addBreederForm.am-form.am-form-horizontal(action='/breeder/save',method='post',data-am-validator,enctype='multipart/form-data')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='breederId') 序号
                        .am-u-sm-8
                            input#breederId(type='text',readonly,name='save[serial_number]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='breederName') 用户名
                        .am-u-sm-8
                            input#breederName.js-ajax-validate(type='text', placeholder='输入用户名（数字或英文大小写）', minlength='1', maxlength='11', required,name='save[username]',data-validate-async)
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='breederPwd') 密码
                        .am-u-sm-8
                            input#breederPwd(type='password', placeholder='输入密码', minlength='1', maxlength='20', required,name='save[password]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='realName') 真实姓名
                        .am-u-sm-8
                            input#realName(type='text', placeholder='输入真实姓名', minlength='1', maxlength='5', required,name='save[name]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='coopType') 合作类型
                        .am-u-sm-8
                            select#coopType(placeholder='选择合作类型', minlength='1', maxlength='5', required,name='save[cooperativeType]')
                                option(value="农户",checked) 农户
                                option(value="员工") 员工
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='coopType') 性别
                        .am-u-sm-8
                            select#gender(placeholder='选择性别', minlength='1', maxlength='5', required,name='save[gender]')
                                option(value="0",checked) 男
                                option(value="1") 女
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='birthday') 出生日期
                        .am-u-sm-8
                            input#birthday(type='text', placeholder='输入出生日期',name='save[birthday]',data-am-datepicker readonly)
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='area') 地区
                        .am-u-sm-8
                            input#area(type='text',name='save[area]',data-toggle="city-picker",value='')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='address') 详细地址
                        .am-u-sm-8
                            input#address(type='text', placeholder='输入详细地址',name='save[address]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='createDate') 添加日期
                        .am-u-sm-8
                            input#createDate.create-date(type='text', readonly, value='')
                    .am-form-group.am-form-file
                        label.am-u-sm-4.am-form-label(for='breederPhoto') 饲养员图片
                        div.am-u-sm-4
                            button.am-btn.am-btn-default(type='button')
                                i.am-icon-cloud-upload
                                |  饲养员图片
                        input#breederPhoto(type='file',name='bannerfile')
                        #fileName.am-u-sm-4
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='brief') 简介
                        .am-u-sm-8
                            textarea#brief(name='save[content]')
                    .am-form-group
                        .am-u-sm-6
                            button.am-btn.am-btn-default.cancel-modal(type='button',data-am-modal-close) 返回
                        .am-u-sm-6
                            button#addBreederButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "创建中..."}') 完成
    // 删除饲养员确认模态框
    #deleteBreederModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel='') 取消
                span.am-modal-btn(data-am-modal-confirm='') 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        (function (Hen) {
            var $addBreeder = $('#addBreeder');
            var $addBreederModal = $('#addBreederModal');
            var $breederId = $('#breederId');
            var $breederName = $('#breederName');

            $('#breederPhoto').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#fileName').html(fileNames);
            });

            var $loadingModal = $('#loadingModal')
            // == 加载分页器
            $('#pagination').jqPaginator({
                totalPages: #{page.totalPage} || 1,
                visiblePages: #{page.currentCount},
                currentPage: #{page.currentPage},
                activeClass: 'am-active',
                first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    if (type == "change") {
                        $loadingModal.modal('open');
                        window.location.href = "/breeder/list/" + num;
                    }
                }
            });

            $addBreeder.on('click', function (e) {
                $(this).button('loading');
                $.ajax({
                    type: 'post',
                    url: '/breeder/add',
                    data: '',
                    success: function (data, status, xhr) {
                        console.log(data);
                        $breederId.val(data.invoke_data);
                        $addBreederModal.modal('open');
                        $addBreeder.button('reset');
                    },
                    error: function () {
                        console.error("获取添加饲养员信息错误！！！")
                    }
                });
            });

            $breederName.on('keyup', function () {
                var reg = /^[u4E00-u9FA5]*$/i;
                if (!reg.test($(this).val())) {
                    $(this).val('').onfocus();
                }
            });

            $breederName.on('blur', function () {
                $.ajax({
                    type: 'post',
                    url: '/breeder/form/username',
                    cache: false,
                    dataType: 'json',
                    data: {'username': $breederName.val()},
                    success: function (data) {
                        if (data.invoke_result == "INVOKE_FAILURE") {
                            $breederName.val("").focus().attr('placeholder', data.invoke_message);
                            return false;
                        }
                    }
                })
            });

            $(document).on('click', '.deleteBreeder', function () {
                $('#deleteBreederModal').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        var breederid = $(this.relatedTarget).parents('tr').data('breederid');
                        $.ajax({
                            type: 'delete',
                            url: '/breeder/list',
                            data: {"breederId": breederid},
                            success: function (data, status, xhr) {
                                window.location.href = '/breeder/list/1';
                            },
                            error: function () {
                                console.error("删除饲养员错误！！！");
                            }
                        });
                    }
                });
            });

        })(Hen)
