extends ../layout

block content
    .am-cf.admin-main
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养员管理
                        li
                            a(href='/breeder/list') 饲养员列表
                        li.am-active 查看饲养员
                hr
                .am-g
                    .am-u-sm-12
                        form.am-form.am-form-horizontal
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederid') 编号
                                .am-u-sm-6.am-u-end
                                    input#breederid(type='text', readonly='' value='#{data.id}')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederName') 用户名
                                .am-u-sm-6.am-u-end
                                    input#breederName(type='text', readonly='' value='#{data.username}')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='realName') 真实姓名
                                .am-u-sm-6.am-u-end
                                    input#realName(type='text', readonly='' value='#{data.name}')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='realName') 合作类型
                                .am-u-sm-6.am-u-end
                                    input#coopType(type='text', readonly='' value='#{data.cooperativeType}')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederPwd') 密码
                                .am-u-sm-6.am-u-end
                                    input#breederPwd(type='password', readonly='' value='#{data.passwprd}')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederPhone') 手机号
                                .am-u-sm-6.am-u-end
                                    if data.mobile
                                        input#breederPhone(type='text', readonly='' value='#{data.mobile}')
                                    else
                                        input#breederPhone(type='text', readonly='' value='尚未录入手机号码')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederSex') 性别
                                .am-u-sm-6.am-u-end
                                    if data.gender == 1
                                        input#breederSex(type='text', readonly='' value='女')
                                    else
                                        input#breederSex(type='text', readonly='' value='男')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederBirthday') 生日
                                .am-u-sm-6.am-u-end
                                    if data.birthday
                                        input#breederBirthday(type='text', readonly='' value='#{moment(data.birthday.time).format("YYYY年MM月DD日")}')
                                    else
                                        input#breederBirthday(type='text', readonly='' value='尚未录入生日信息')
                            .am-form-group
                                label.am-u-sm-3.am-form-label(for='breederAddress') 所在地
                                .am-u-sm-6.am-u-end
                                    if data.address
                                        input#breederAddress(type='text', readonly='' value='#{data.area}-#{data.address}')
                                    else
                                        input#breederAddress(type='text', readonly='' value='尚未录入所在地')
                            .am-form-group
                                label.am-u-sm-3.am-form-label 鸡舍分配
                                .am-u-sm-6.am-u-end
                                    .am-btn-toolbar
                                        if hencoops.length
                                            each item in hencoops
                                                .am-btn-group
                                                    span.am-btn.am-btn-default #{item.hencoop_number}号鸡舍
                                        else
                                            .am-alert.am-alert-danger 未分配鸡舍
                            .am-form-group
                                .am-u-sm-10.am-u-sm-offset-2
                                    button.am-btn.am-btn-default(type='button', onclick='history.go(-1)') 返回
            include ../includes/footer
    include ../includes/script