extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 会员管理
                        li#chengeMenu
                            a(href='/member/add') 添加会员
                        li.am-active 添加鸡舍
                hr
                .am-g
                    form.am-form(action='/member/add/henhouse/1/',method='get',data-am-validator)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                input(type='hidden',name='workId',value='')
                                select(data-am-selected="{searchBox: 1,btnSize: 'sm',maxHeight: 200}", placeholder='请输入饲养员',name='breederId')
                                    option(value='') 请输入饲养员
                                    +searchSelect(breeders)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{searchBox: 1,btnSize: 'sm',maxHeight: 200}", placeholder='请选择小鸡品种',name='varieties')
                                    option(value='') 请选择小鸡品种
                                    +searchSelect(varieties)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{btnSize: 'sm',maxHeight: 200}", placeholder='请选择小鸡日龄',name='dayAge')
                                    option(value='') 请选择小鸡日龄
                                    option(value='0-50') 0-50
                                    option(value='51-100') 51-100
                                    option(value='100-200') 100-200
                                    option(value='200-99999') 200以上
                        .am-u-sm-12.am-u-md-1.am-u-end
                            .am-input-group.am-input-group-sm
                                span.am-input-group-btn
                                    button#filterButton.am-btn.am-btn-primary(type='submit') 筛选
                    .am-u-sm-12.am-u-md-2
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                a#confirmDistributeButton.am-btn.am-btn-primary(href='/member/add') 确定分配
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 该条件下暂无鸡舍信息
                    else
                        each item in data
                            .am-u-sm-4.am-u-end
                                .am-panel.am-panel-default
                                    .am-panel-hd
                                        h4.am-panel-title.am-nbfc.henhouseName
                                            span.henhouseName #{item.hencoop_number}号鸡舍
                                            am-btn-group
                                                button.distributeWorkButton.am-btn.am-btn-warning.am-btn-sm.am-fr(data-henhouseid='#{item.id}',data-am-button) 未选择
                                    .am-panel-collapse.am-collapse.am-in
                                        .am-panel-bd
                                            .am-g
                                                .am-u-md-12
                                                    table.am-table.am-table-bordered.am-table-striped.am-table-compact
                                                        tbody
                                                            tr
                                                                th 小鸡数量
                                                                if item.chicken_count
                                                                    td #{item.chicken_count}只
                                                                else
                                                                    td 暂无数据
                                                                th 饲养员
                                                                    if item.name
                                                                        td #{item.name}
                                                                    else
                                                                        td 暂未指定
                                                            tr
                                                                th 小鸡品种
                                                                if item.varieties_name
                                                                    td #{item.varieties_name}
                                                                else
                                                                    td 未录入品种
                                                                th 当前日龄
                                                                if item.day >= 0
                                                                    td #{item.day}日
                                                                else
                                                                    td 暂无数据
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $filterButton = $('#filterButton');
                var $loadingModal = $('#loadingModal');
                var $distributeWorkButton = $('.distributeWorkButton');
                var memberId = localStorage.getItem('editMemberId');
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            var workId = Hen.ToolsController.getQueryString('workId') || '';
                            var breederId = Hen.ToolsController.getQueryString('breederId') || '';
                            var varieties = Hen.ToolsController.getQueryString('varieties') || '';
                            var dayAge = Hen.ToolsController.getQueryString('dayAge') || '';
                            window.location.href = "/member/add/henhouse/" + num + "/?workId="+workId+"&breederId=" + breederId + "&varieties=" + varieties + "&dayAge=" + dayAge
                        }
                    }
                });
                $filterButton.on('click',function () {
                    var workId = Hen.ToolsController.getQueryString('workId') || '';
                    $('input:hidden[name="workId"]').val(workId);
                });

                if (localStorage.getItem('editMemberId') != null && localStorage.getItem('editMemberId') != "") {
                    $('#chengeMenu a').attr('href','/member/edit/?memberId='+memberId).text('编辑会员')
                    $('#confirmDistributeButton').attr('href','/member/edit/?memberId='+memberId)
                }
                // 存放点击分配后的鸡舍

                if (localStorage.getItem('strMemberHenhouseId') != null && localStorage.getItem('strMemberHenhouseId') != "") {
                    var arrHenhouseId = $.parseJSON(localStorage.getItem('strMemberHenhouseId'));
                    $.each(arrHenhouseId, function (index, val) {
                        $('.distributeWorkButton[data-henhouseid="'+val.henhouseId+'"]').addClass('am-active').text('已选择');
                    });
                }else{
                    var arrHenhouseId = [];
                }

                $distributeWorkButton.on('click', function () {
                    var status = ""
                    var objHenhouse = {};
                    var getHenhouseId = $(this).data('henhouseid');
                    var getHenhouseName = $(this).parents('h4').find('.henhouseName').text();
                    if ($(this).hasClass('am-active')) {
                        status = "未选择"
                        $.each(arrHenhouseId, function (index, val) {
                            if (val["henhouseId"] == getHenhouseId) {
                                arrHenhouseId.splice(index, 1);
                                return false
                            }
                        });
                    } else {
                        status = "已选择";
                        objHenhouse.henhouseId = getHenhouseId;
                        objHenhouse.henhouseName = getHenhouseName;
                        arrHenhouseId.push(objHenhouse);
                    }
                    localStorage.setItem("strMemberHenhouseId", JSON.stringify(arrHenhouseId));
                    $(this).text(status);
                });
            })(Hen)
        });
