extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 会员管理
                        li.am-active 会员列表
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                a#addMember.am-btn.am-btn-default(href='/member/add') 添加会员
                hr
                .am-g
                if (!data.length)
                    .am-u-sm-12
                        #Tips.am-alert.am-alert-danger(data-am-alert) 暂无会员信息
                else
                    .am-u-sm-12
                        table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                            thead
                                tr
                                    th 序号
                                    th 会员真实姓名
                                    th 用户名
                                    th(style="min-width:300px;width:400px") 认养鸡舍
                                    th 添加日期
                                    th 操作
                            tbody#memberListBody
                                each item,index in data
                                    tr(data-memberid='#{item.id}')
                                        td #{index+1}
                                        td #{item.name}
                                        td #{item.username}
                                        if item.hencoop
                                            td #{item.hencoop}
                                        else
                                            td 无
                                        td #{moment(item.create_date.time).format("YYYY年MM月DD日")}
                                        td
                                            a.am-btn.am-btn-secondary(href='/member/view/#{item.id}') 查看
                                            a.am-btn.am-btn-success(href='/member/edit/?memberId=#{item.id}') 编辑
                                            button.am-btn.am-btn-danger.deleteMember 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    // 删除会员确认模态框
    #deleteMemberModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel) 取消
                span.am-modal-btn(data-am-modal-confirm) 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {

            if (localStorage.getItem('addMemberFormData') != null && localStorage.getItem('addMemberFormData') != "") {
                localStorage.removeItem("addMemberFormData");
            }
            if (localStorage.getItem('strMemberHenhouseId') != null && localStorage.getItem('strMemberHenhouseId') != "") {
                localStorage.removeItem("strMemberHenhouseId");
            }
            if (localStorage.getItem('editMemberId') != null && localStorage.getItem('editMemberId') != "") {
                localStorage.removeItem("editMemberId");
            }

            (function (Hen) {
                var $addMember = $('#addMember');
                var $addMemberModal = $('#addMemberModal');
                var $cancelSubmitButton = $('#cancelSubmitModal');
                var $totalCount = $('#totalCount');
                var $loadingModal = $('#loadingModal')
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/member/list/" + num + "/";
                        }
                    }
                });

                $addMember.on('click', function (e) {
                    $(this).button('loading');
                    $addMemberModal.modal('open');
                    $addMember.button('reset');
                });
                $cancelSubmitButton.on('click', function () {
                    $addMemberModal.modal('close');
                })

                $(document).on('click', '.deleteMember', function () {
                    $('#deleteMemberModal').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var memberid = $(this.relatedTarget).parents('tr').data('memberid');
                            $.ajax({
                                type: 'delete',
                                url: '/member/list',
                                data: {"memberId":memberid},
                                success: function (data, status, xhr) {
                                    window.location.reload();
                                },
                                error: function () {
                                    console.error("删除会员员错误！！！");
                                }
                            });
                        }
                    });
                });
            })(Hen)
        });