extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 会员管理
                        li
                            a(href='/member/list/1/') 会员列表
                        li.am-active 查看会员
                hr
                .am-g
                    .am-u-sm-12
                        form.am-form.am-form-horizontal
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='memberName') 用户名
                                .am-u-sm-6.am-u-end
                                    input#memberName(type='text', readonly , value='#{data.username}')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='realName') 真实姓名
                                .am-u-sm-6.am-u-end
                                    input#realName(type='text', readonly ,value='#{data.name}')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='memberPwd') 密码
                                .am-u-sm-6.am-u-end
                                    input#memberPwd(type='password', readonly='' value='#{data.password}')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='memberSex') 性别
                                .am-u-sm-6.am-u-end
                                    if data.gender
                                        input#memberSex(type='text', readonly='' value='#{data.gender}')
                                    else
                                        input#memberSex(type='text', readonly='' value='尚未录入性别信息')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='memberBirthday') 生日
                                .am-u-sm-6.am-u-end
                                    if data.birthday
                                        input#memberBirthday(type='text', readonly='' value='#{data.birthday}')
                                    else
                                        input#memberBirthday(type='text', readonly='' value='尚未录入生日信息')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='memberAddress') 所在地
                                .am-u-sm-6.am-u-end
                                    if data.address
                                        input#memberAddress(type='text', readonly='' value='#{data.address}')
                                    else
                                        input#memberAddress(type='text', readonly='' value='尚未录入所在地')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='beginDate') 鸡舍认养开始时间
                                .am-u-sm-6.am-u-sm-pull-2
                                    .am-input-group
                                        input#beginDate.am-form-field(type='text', readonly , value='#{buyhencoopTime}')
                                        span.add-on.am-input-group-label
                                            i.icon-th.am-icon-calendar
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='endDate') 鸡舍认养到期时间
                                .am-u-sm-6.am-u-sm-pull-2
                                    .am-input-group
                                        input#endDate.am-form-field(type='text', readonly , value='#{hencoopOutTime}')
                                        span.add-on.am-input-group-label
                                            i.icon-th.am-icon-calendar
                            .am-form-group
                                label.am-u-sm-4.am-form-label 鸡舍分配
                                .am-u-sm-6.am-u-end
                                    .am-btn-toolbar
                                        if hencoopNumber.length
                                            each item in hencoopNumber
                                                .am-btn-group
                                                    span.am-btn.am-btn-default #{item.hencoop_number}号鸡舍
                                        else
                                            .am-alert.am-alert-danger 未分配鸡舍
                            .am-form-group
                                .am-u-sm-10.am-u-sm-offset-2.am-text-center
                                    button.am-btn.am-btn-default(type='button', onclick='history.go(-1)') 返回
            include ../includes/footer
        // content end
    include ../includes/script