include ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='/image') 图片
                        li.am-active 轮播图片
                hr
                .am-g
                    .am-u-sm-12
                        form.am-form(data-am-validator,method='post',action='/images/upload/720',enctype='multipart/form-data')
                            fieldset.am-g
                                .am-form-group.am-nbfc.am-u-sm-4
                                    .am-u-sm-12
                                        input#address(type='text', placeholder='输入网址，如：http://www.720yun.com',required,name='url')
                                .am-form-group.am-form-file.am-u-sm-4
                                    div.am-u-sm-4
                                        button.am-btn.am-btn-default(type='button')
                                            i.am-icon-cloud-upload
                                            |  选择要上传的文件
                                    input#banner(type='file',required,name='bannerfile')
                                    #fileName.am-u-sm-6
                                .am-form-group.am-nbfc.am-u-sm-2
                                    .am-u-sm-12
                                        input#remarks(type='text', placeholder='备注',name='remarks')
                                .am-form-group.am-u-sm-2.am-u-end
                                    button.am-btn.am-btn-secondary(type='submit') 提交
                .am-g
                    .am-u-sm-12
                        hr
                        ul.am-gallery.am-avg-sm-4.am-avg-md-8.am-avg-lg-8.am-gallery-bordered(data-am-widget="gallery")
                            each item in data
                                li
                                    .am-gallery-item.pr
                                        a(href='#{item.url}')
                                            img(src='#{item.image_url}')
                                            h3.am-gallery-title #{item.remarks}
                                        a.am-close.am-close-alt.am-icon-times.banner-delete(href='javascript:;',title="删除",data-bannerid='#{item.id}')
                        p 注：.....
                include ../includes/footer
        // content end
    // 删除轮播图确认模态框
    #deleteBannerModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel='') 取消
                span.am-modal-btn(data-am-modal-confirm='') 确定
    include ../includes/script
    script.
        $(function () {
            // == 上传图片文件名回显
            $('#banner').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#fileName').html(fileNames);
            });

            // == 删除轮播图片
            $(document).on('click', '.banner-delete', function () {
                $('#deleteBannerModal').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        var bannerid = $(this.relatedTarget).data('bannerid');
                        $.ajax({
                            url: "/images/delete/720",
                            type: "post",
                            data: {"farmCarouselId": bannerid},
                            success: function (data) {
                                if (data.invoke_result == "INVOKE_SUCCESS") {
                                    window.location.href = '/images/720'
                                } else if (data.invoke_result == "INVOKE_FAILURE") {
                                    console.error(data)
                                }
                            }
                        });
                    }
                });
            });

        });
