include ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='/image') 图片
                        li
                            a(href='/images/days') 鸡舍每日图片
                        li
                            a(href='javascript:;' onclick="window.history.back()") 室内/室外
                        li.am-active 图片
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂无图片信息
                    else
                        ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-bordered(data-am-widget="gallery",data-am-gallery="{pureview:{target: 'a'}}")
                            each item in data
                                li
                                    .am-gallery-item
                                        a(href='#{item.picUrl}')
                                            img(src='#{item.picUrl}')
                                            h3.am-gallery-title #{moment(item.create_date.time).format("YYYY年MM月DD日")}
                include ../includes/footer
        // content end
    include ../includes/script