include ../layout

block content
    .am-cf.admin-main
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='/image') 图片
                        li.am-active 鸡舍每日图片
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂无鸡舍信息
                    else
                        ul.am-gallery.am-avg-sm-4.am-avg-md-8.am-avg-lg-8.am-gallery-bordered(data-am-widget="gallery")
                            each item in data
                                li
                                    .am-gallery-item
                                        a(href='/images/days/side/#{item.id}')
                                            img(src='../images/dir.jpg')
                                            h3.am-gallery-title #{item.hencoop_number}号鸡舍
                include ../includes/footer
    include ../includes/script