include ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='/image') 图片
                        li.am-active 全局图片
                hr
                .am-g
                    ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-bordered(data-am-widget="gallery",data-am-gallery="{pureview:{target: 'a'}}")
                        li
                            .am-gallery-item
                                a(href='../images/hen1.jpg')
                                    img(src='../images/hen1.jpg',alt='2016-10-29')
                                    h3.am-gallery-title 2016-10-29
                        li
                            .am-gallery-item
                                a(href='../images/hen1.jpg')
                                    img(src='../images/hen1.jpg', alt='2016-10-30')
                                    h3.am-gallery-title 2016-10-30
                        li
                            .am-gallery-item
                                a(href='../images/hen1.jpg')
                                    img(src='../images/hen1.jpg', alt='2016-10-31')
                                    h3.am-gallery-title 2016-10-31
                include ../includes/footer
        // content end
    include ../includes/script