include ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li.am-active 图片
                hr
                .am-g
                    ul.am-gallery.am-avg-sm-2.am-avg-md-3.am-avg-lg-4.am-gallery-bordered
                        //li
                            .am-gallery-item
                                a(href='/images/720')
                                    img(src='images/banner.jpg',alt='轮播图片')
                                    h3.am-gallery-title 轮播图片
                        li
                            .am-gallery-item
                                a(href='/images/days')
                                    img(src='images/hen1.jpg', alt='鸡舍每日图片')
                                    h3.am-gallery-title 鸡舍每日图片
                include ../includes/footer
        // content end
    #downloadModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要下载该文件吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel='') 取消
                span.am-modal-btn(data-am-modal-confirm='') 确定
    include ../includes/script