include ../includes/style
.admin-content
    .admin-content-body
        .am-cf.am-padding.am-padding-bottom-0
            .am-fl.am-cf
                strong.am-text-primary.am-text-lg 404
                |  /
                small 没有找到你要的页面
        hr
        .am-g
            .am-u-sm-12
                h2.am-text-center.am-text-xxxl.am-margin-top-lg 404. Not Found
                p.am-text-center 没有找到你要的页面
                pre.page-404.
                    .         .----.
                           _.'__    `.
                       .--($)($$)---/#\
                     .' @          /###\
                     :         ,   #####
                      `-..__.-' _.-\###/
                            `;_:    `"'
                          .'"""""`.
                         /,  ya ,\\
                        //  404!  \\
                        `-._______.-'
                        ___`. | .'___
                       (______|______)
    include ../includes/footer