extends ../layout
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 农场信息
                        li.am-active 关于我们
                hr
                .am-g
                    .am-u-sm-12
                        form.am-form(method="post",action="",data-am-validator)
                            fieldset
                                legend 关于我们
                                .am-form-group
                                    label(for='about') 文本内容
                                    textarea#about(rows='6',required,name='aboutus') #{data}
                                p
                                    button#submitAbout.am-btn.am-btn-primary(type='submit',data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中...'}") 提交
    include ../includes/script