include ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 农场信息
                        li.am-active 检测报告
                hr
                .am-g
                    if (!testing.testingimg)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂未上传检测报告
                    else
                         .am-gallery-item
                            a(href='#{testing.testingimg}')
                                img(src='#{testing.testingimg}')
                                h3.am-gallery-title
                .am-g
                    .am-u-sm-12
                        form.am-form(data-am-validator,method='post',action='/images/upload/check',enctype='multipart/form-data')
                            fieldset.am-g
                                .am-form-group.am-form-file.am-u-sm-4
                                    div.am-u-sm-4
                                        button.am-btn.am-btn-default(type='button')
                                            i.am-icon-cloud-upload
                                            |  选择检测报告文件
                                    input#banner(type='file',name='bannerfile')
                                    #fileName.am-u-sm-6
                                .am-form-group.am-nbfc.am-u-sm-2
                                    .am-u-sm-12
                                        if (testing.testingtime)
                                            input#date(type='text', placeholder='检测时间',name='testingtime',value='#{moment(testing.testingtime.time).format("YYYY-MM-DD")}',data-am-datepicker,readonly,required)
                                        else
                                            input#date(type='text', placeholder='检测时间',name='testingtime',value='检测时间',data-am-datepicker,readonly,required)
                                .am-form-group.am-u-sm-2.am-u-end
                                    button.am-btn.am-btn-secondary(type='submit') 提交
                                    button#clearCheck.am-btn.am-btn-danger(type='button') 清除
                .am-g
                    .am-u-sm-12
                        hr
                        p 注：.....
                include ../includes/footer
        // content end
    // 删除轮播图确认模态框
    #deleteBannerModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel='') 取消
                span.am-modal-btn(data-am-modal-confirm='') 确定
    include ../includes/script
    script.
        $(function () {
            // == 上传图片文件名回显
            $('#banner').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#fileName').html(fileNames);
            });

            // == 清除检测报告
            $(document).on('click', '#clearCheck', function () {
                $('#deleteBannerModal').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        $.ajax({
                            url: "/check/clear",
                            type: "post",
                            data: {"id": 1},
                            success: function (data) {
                                if (data.invoke_result == "INVOKE_SUCCESS") {
                                    window.location.href = '/check'
                                } else if (data.invoke_result == "INVOKE_FAILURE") {
                                    console.error(data)
                                }
                            }
                        });
                    }
                });
            });
        });