extends ../layout
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 农场信息
                        li.am-active 履历下载
                hr
                .am-g
                    .am-u-sm-12
                        form.am-form(method="post",action="/recode/down",data-am-validator)
                            fieldset
                                legend 生成履历二维码
                                .am-form-group
                                    label.am-u-sm-1.am-form-label(for='count') 生成数量
                                    .am-u-sm-2
                                        input(type='number',id='count',name='count',required)
                                    .am-u-sm-2.am-u-end
                                        button#submitRecode.am-btn.am-btn-primary(type='button',data-am-loading="{spinner: 'circle-o-notch', loadingText: '生成中...'}") 生成
                    .am-u-sm-12
                        hr
                        p 注：生产文件后缀为*.txt.zip，请去除.zip后使用。打印二维码请勿使用活码！
    #alert.am-modal.am-modal-alert(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 警告
            .am-modal-bd
            .am-modal-footer
                span.am-modal-btn 确定
    include ../includes/script
    script.
        $(function () {
            var $submitRecode = $('#submitRecode');
            var $count = $('#count');
            $submitRecode.on('click',function () {
                var $countVal = $count.val()
                if(!$countVal){
                    alertModal("请填写生成数量");
                    return;
                }else{
                    $.ajax({
                        url: "/recode/down",
                        type: "post",
                        data: {count:$countVal},
                        success: function (data) {
                            downloadFile(data.txtUrl);
                        }
                    })
                }
            })

            // 警告框
            function alertModal(str) {
                $('#alert').find('.am-modal-bd').text(str);
                $('#alert').modal('open');
            }

            function downloadFile(url) {
                try {
                    var elemIF = document.createElement("iframe");
                    elemIF.src = url;
                    elemIF.style.display = "none";
                    document.body.appendChild(elemIF);
                } catch (e) {
                    console.error(e);
                }
            }
        })
