extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 农场信息
                        li.am-active 意见反馈
                hr
                .am-g
                if (!data.length)
                    .am-u-sm-12
                        #Tips.am-alert.am-alert-danger(data-am-alert) 暂无意见反馈
                else
                    .am-u-sm-12
                        table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                            thead
                                tr
                                    th 标题
                                    th(style="width:400px") 内容
                                    th(style="width:200px") 发送时间
                                    th 操作
                            tbody#memberListBody
                                each item in data
                                    tr(data-feedbackid='#{item.id}')
                                        td #{item.title}
                                        td.js-feedback-content #{item.content}
                                        td #{item.create_date}
                                        td
                                            button.am-btn.am-btn-secondary.viewSuggestion 查看
                                            button.am-btn.am-btn-danger.deleteSuggestion 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p #{notes}
            include ../includes/footer
        // content end
    // 添加品种信息模态框
    #viewSuggestionModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 标题
                a.am-close.am-close-spin(href='javascript:;',data-am-modal-close) &times;
            .am-modal-bd
                .am-g
                    .am-u-sm-12
                        #feedback-content.am-scrollable-vertical
                            | 内容
                .am-g
                    .am-u-sm-12.am-text-center
                        button.am-btn.cancel-modal.am-btn-primary(type='button',data-am-modal-close) 确定
    // 删除意见反馈确认模态框
    #deleteSuggestionModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel) 取消
                span.am-modal-btn(data-am-modal-confirm) 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $loadingModal = $('#loadingModal')
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/suggestion/"+ num;
                        }
                    }
                });

                $(document).on('click','.viewSuggestion',function () {
                    var content = $(this).parents('tr').find('.js-feedback-content').text();
                    $('#feedback-content').text(content);
                    $('#viewSuggestionModal').modal('open');
                });

                $(document).on('click', '.deleteSuggestion', function () {
                    $('#deleteSuggestionModal').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var feedbackid = $(this.relatedTarget).parents('tr').data('feedbackid');
                            $.ajax({
                                type: 'delete',
                                url: '/feedback/list',
                                data: {"feedbackid":feedbackid},
                                success: function (data, status, xhr) {
                                    if (data.invoke_result == "INVOKE_SUCCESS") {
                                        window.location.href = '/feedback/1';
                                    } else if (data.invoke_result == "INVOKE_FAILURE") {
                                        window.location.href = '/feedback/1';
                                    }
                                },
                                error: function () {
                                    console.error("删除意见反馈错误！！！");
                                }
                            });
                        }
                    });
                });
            })(Hen)
        });