extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养管理
                        li
                            a(href='/work/schedule/1/') 工作日程
                        li.am-active 日程分配
                hr
                .am-g
                    form.am-form(action='/work/distribution/1/',method='get',data-am-validator)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                input(type='hidden',name='workId',value='')
                                select(data-am-selected="{searchBox: 1,btnSize: 'sm',maxHeight: 200}", placeholder='请输入饲养员',name='breederId')
                                    option(value='') 请输入饲养员
                                    +searchSelect(breeders)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{searchBox: 1,btnSize: 'sm',maxHeight: 200}", placeholder='请选择小鸡品种',name='varieties')
                                    option(value='') 请选择小鸡品种
                                    +searchSelect(varieties)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{btnSize: 'sm',maxHeight: 200}", placeholder='请选择小鸡日龄',name='dayAge')
                                    option(value='') 请选择小鸡日龄
                                    option(value='0-50') 0-50
                                    option(value='51-100') 51-100
                                    option(value='100-200') 100-200
                                    option(value='200-99999') 200以上
                        .am-u-sm-12.am-u-md-1.am-u-end
                            .am-input-group.am-input-group-sm
                                span.am-input-group-btn
                                    button#filterButton.am-btn.am-btn-primary(type='submit') 筛选
                    .am-u-sm-12.am-u-md-2
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                button#confirmDistributeButton.am-btn.am-btn-primary(type='button') 确定分配
                            span.am-input-group-btn
                                a.am-btn.am-btn-default(href='/work/schedule/1/') 取消
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 该条件下暂无鸡舍信息
                    else
                        each item in data
                            .am-u-sm-12.am-u-md-6.am-u-lg-6.am-u-end
                                .am-panel.am-panel-default
                                    .am-panel-hd
                                        h4.am-panel-title.am-nbfc
                                            | #{item.hencoop_number}号鸡舍
                                            if item.workId != null
                                                span.am-alert.am-alert-danger.am-text-xs (已分配给#{item.workName})
                                            am-btn-group
                                                if item.workId != null
                                                    button.distributeWorkButton.am-btn.am-btn-warning.am-btn-sm.am-fr(data-henhouseid='#{item.hencoop_id}',data-am-button,data-am-popover="{theme: 'danger', content: '已分配给#{item.workName}', trigger: 'hover'}") 未选择
                                                else
                                                    button.distributeWorkButton.am-btn.am-btn-warning.am-btn-sm.am-fr(data-henhouseid='#{item.hencoop_id}',data-am-button) 未选择
                                    .am-panel-collapse.am-collapse.am-in
                                        .am-panel-bd
                                            .am-g
                                                .am-u-md-12
                                                    table.am-table.am-table-bordered.am-table-striped.am-table-compact
                                                        tbody
                                                            tr
                                                                th 小鸡数量
                                                                if item.hencoop_chicken_count
                                                                    td #{item.hencoop_chicken_count}只
                                                                else
                                                                    td 暂无数据
                                                                th 饲养员
                                                                    if item.breeder_name
                                                                        td #{item.breeder_name}
                                                                    else
                                                                        td 暂未指定
                                                            tr
                                                                th 小鸡品种
                                                                if item.varieties_name
                                                                    td #{item.varieties_name}
                                                                else
                                                                    td 未录入品种
                                                                th 小鸡日龄
                                                                if item.ch_hencoop_chicken_age
                                                                    td #{item.ch_hencoop_chicken_age}日
                                                                else
                                                                    td 暂无数据
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    if henhouseIds
        script.
            localStorage.setItem("strHenhouseId","#{henhouseIds}");
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $filterButton = $('#filterButton');
                var $loadingModal = $('#loadingModal');
                var $distributeWorkButton = $('.distributeWorkButton');
                var $confirmDistributeButton = $('#confirmDistributeButton');
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            var workId = Hen.ToolsController.getQueryString('workId') || '';
                            var breederId = Hen.ToolsController.getQueryString('breederId') || '';
                            var varieties = Hen.ToolsController.getQueryString('varieties') || '';
                            var dayAge = Hen.ToolsController.getQueryString('dayAge') || '';
                            window.location.href = "/work/distribution/" + num + "/?workId="+workId+"&breederId=" + breederId + "&varieties=" + varieties + "&dayAge=" + dayAge
                        }
                    }
                });
                $filterButton.on('click',function () {
                    var workId = Hen.ToolsController.getQueryString('workId') || '';
                    $('input:hidden[name="workId"]').val(workId);
                });
                // 存放点击分配后的鸡舍

                if (localStorage.getItem('strHenhouseId') != null && localStorage.getItem('strHenhouseId') != "") {
                    var arrHenhouseId = localStorage.getItem('strHenhouseId').split(',')
                    $.each(arrHenhouseId, function (index, val) {
                        $('.distributeWorkButton[data-henhouseid="'+val+'"]').addClass('am-active').text('已选择');
                    });
                }else{
                    var arrHenhouseId = [];
                }
                // == 分配日程
                $distributeWorkButton.on('click',function () {
                    var status = ""
                    var getHenhouseId = $(this).data('henhouseid');
                    if($(this).hasClass('am-active')){
                        status = "未选择"
                        $.each(arrHenhouseId,function (index,val) {
                            if (val == getHenhouseId){
                                arrHenhouseId.splice(index,1);
                            }
                        });
                    }else{
                        status = "已选择"
                        arrHenhouseId.push(getHenhouseId);
                    }
                    localStorage.setItem("strHenhouseId",arrHenhouseId.toString());
                    $(this).text(status);
                });

                // == 确认分配
                $confirmDistributeButton.on('click',function () {
                    var workId = Hen.ToolsController.getQueryString('workId');
                    var strHenhouseId = localStorage.getItem('strHenhouseId')
                    $.ajax({
                        type:'post',
                        url:'/work/distribution/confirm',
                        data:{"workId":workId,"hencoopeIds":strHenhouseId},
                        success:function (data) {
                            if (data.invoke_result == "INVOKE_SUCCESS") {
                                window.location.href = '/work/schedule/1/';
                            } else if (data.invoke_result == "INVOKE_FAILURE") {

                            }
                        }
                    })
                });
            })(Hen)
        });
