extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养管理
                        li.am-active 工作记录
                hr
                .am-g
                    form.am-form(action='/work/recode/1/',method='get')
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{searchBox: 1,btnSize: 'md',maxHeight: 200}", placeholder='请输入饲养员',name='breederId')
                                    option(value='') 请输入饲养员
                                    +searchSelect(breeders)
                        .am-u-sm-12.am-u-md-3
                            .am-form-group
                                select(data-am-selected="{searchBox: 1,btnSize: 'md',maxHeight: 200}", placeholder='请输入鸡舍编号',name='hencoopNumber')
                                    option(value='') 请输入鸡舍编号
                                    +hencoopSelect(hencoopNumbers)
                        .am-u-sm-12.am-u-md-2
                            .am-form-group
                                input#selectStartData(type='text',placeholder='开始日期',name='startDate',data-am-datepicker readonly)
                        .am-u-sm-12.am-u-md-2
                            .am-form-group
                                input#selectEndData(type='text',placeholder='结束日期',name='endDate',data-am-datepicker readonly)
                        .am-u-sm-12.am-u-md-2.am-fr
                            .am-input-group.am-input-group-sm
                                span.am-input-group-btn
                                    button#resachDetailButton.am-btn.am-btn-secondary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "加载中..."}') 筛选
                                    button#resachExcelButton.am-btn.am-btn-secondary(type='button',data-am-loading='{spinner: "circle-o-notch", loadingText: "下载中..."}') 导出Excel
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂无工作记录详情信息
                    else
                        .am-u-sm-12
                            table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                                thead
                                    tr
                                        th 饲养员姓名
                                        th(style="width:200px") 鸡舍
                                        th 日期
                                        th 时间
                                        th(style="width:400px") 工作内容
                                        th 状态
                                tbody
                                    each item in data
                                        tr
                                            td #{item.breeder_name}
                                            td #{item.hencoop_number}号鸡舍
                                            td #{moment(item.modify_date.time).format("YYYY年MM月DD日")}
                                            td #{item.work_time}
                                            td #{item.task}
                                            td #{item.status}
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                // == 筛选回显
                /*$("select[name='breederId']").prepend($("select[name='breederId']").find("option[value='"+breederId+"']").attr('selected',true));
                $("select[name='hencoopNumber']").prepend($("select[name='hencoopNumber']").find("option[value='"+hencoopNumber+"']").attr('selected',true));
                startDate && $("#selectStartData").val(startDate);
                endDate && $("#selectEndData").val(endDate);*/

                var $resachExcelButton = $('#resachExcelButton');
                var $loadingModal = $('#loadingModal');
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            var breederId = Hen.ToolsController.getQueryString('breederId') || '';
                            var hencoopNumber = Hen.ToolsController.getQueryString('hencoopNumber') || '';
                            var startDate = Hen.ToolsController.getQueryString('startDate') || '';
                            var endDate = Hen.ToolsController.getQueryString('endDate') || '';
                            window.location.href = "/work/recode/" + num + "/?breederId="+breederId+"&hencoopNumber="+hencoopNumber+"&startDate="+startDate+"&endDate="+endDate;
                        }
                    }
                });

                $resachExcelButton.on('click',function () {
                    var breederId = Hen.ToolsController.getQueryString('breederId') || $('select[name="breederId"]').val();
                    var hencoopNumber = Hen.ToolsController.getQueryString('hencoopNumber') || $('select[name="hencoopNumber"]').val();
                    var startDate = Hen.ToolsController.getQueryString('startDate') || $('#selectStartData').val();
                    var endDate = Hen.ToolsController.getQueryString('endDate')|| $('#selectEndData').val();
                    $.ajax({
                        url:"/work/detail/excel",
                        type:"post",
                        data:{"hencoopNumber":hencoopNumber,"breederId":breederId,"startDate":startDate,"endDate":endDate},
                        success:function (data) {
                            if (data.invoke_result == 'INVOKE_SUCCESS') {
                                downloadFile(data.execl_url);
                            } else if (data.invoke_result == 'INVOKE_FAILURE') {
                                console.error("Excel下载错误！！！");
                            }
                        }
                    })
                })

                function downloadFile(url) {
                    try {
                        var elemIF = document.createElement("iframe");
                        elemIF.src = url;
                        elemIF.style.display = "none";
                        document.body.appendChild(elemIF);
                    } catch (e) {
                        console.error(e);
                    }
                }

            })(Hen)
        });