extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 饲养管理
                        li.am-active 工作日程
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                button#addScheduleButton.am-btn.am-btn-default(type='button',data-am-loading='{spinner: "circle-o-notch", loadingText: "加载中..."}') 添加日程
                hr
                .am-g
                    if (!data.length)
                        .am-u-sm-12
                            #Tips.am-alert.am-alert-danger(data-am-alert) 暂无工作日程信息
                    else
                        .am-u-sm-12
                            table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                                thead
                                    tr
                                        th 序号
                                        th 日程名称
                                        th.am-text-center(style="width:500px") 工作任务
                                        th 操作
                                tbody
                                    each item,index in data
                                        tr(data-workid='#{item.id}')
                                            td #{index+1}
                                            td #{item.name}
                                            td(style='width:50%') #{item.task_name}
                                            td
                                                button.am-btn.am-btn-success.editWorkButton 编辑
                                                a.am-btn.am-btn-primary(href='/work/distribution/1/?workid=#{item.id}') 分配
                                                button.am-btn.am-btn-danger.deleteWorkButton 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
                        hr
                        p 注：.....
            include ../includes/footer
        // content end
    #addScheduleModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 添加工作日程
                a.am-close.am-close-spin(href='javascript:;', data-am-modal-close) ×
            .am-modal-bd
                form#addScheduleForm.am-form.am-form-horizontal(action='/work/schedule/add',method='post',data-am-validator)
                    .am-form-group
                        label.am-u-sm-3.am-form-label(for='addScheduleName') 日程名称
                        .am-u-sm-9
                            input#addScheduleName(type='text',required, placeholder='输入日程名称',name='add[scheduleName]')
                    .am-form-group
                        .am-g
                            .am-u-sm-2 顺序
                            .am-u-sm-2 时间
                            .am-u-sm-6 工作任务
                            .am-u-sm-2 操作
                        ul#addScheduleList.am-list.am-list-border
                            li.am-g.am-margin-vertical-xs
                                .am-u-sm-2.am-vertical-align-middle
                                    span.am-icon-arrows.am-margin-top-xs 移动
                                .am-u-sm-4
                                    input(type='time',required,name='add[workTime]')
                                .am-u-sm-4
                                    textarea(placeholder='请输入工作任务',name='add[scheduleContent]',style='height:42px',required)
                                .am-u-sm-2
                                    button.am-btn.am-btn-danger.removeScheduleLine(type='button',disabled) 删除
                        button#addScheduleLine.am-btn.am-btn-warning.am-btn-block(type='button') 添加工作日程
                    .am-form-group
                        .am-u-sm-6
                            button.am-btn.am-btn-default.cancel-modal(type='button',data-am-modal-close) 返回
                        .am-u-sm-6
                            button.am-btn.am-btn-primary(type='submit') 完成
    #editScheduleModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 编辑工作日程
                a.am-close.am-close-spin(href='javascript:;', data-am-modal-close) ×
            .am-modal-bd
                form#eidtScheduleForm.am-form.am-form-horizontal(action='/work/schedule/update',method='post',data-am-validator)
                    .am-form-group
                        label.am-u-sm-3.am-form-label(for='editScheduleName') 日程名称
                        .am-u-sm-9
                            input#workId(type='hidden',name='workId')
                            input#editScheduleName(type='text',required, placeholder='输入日程名称',name='update[scheduleName]')
                    .am-form-group
                        .am-g
                            .am-u-sm-2 顺序
                            .am-u-sm-2 时间
                            .am-u-sm-6 工作任务
                            .am-u-sm-2 操作
                        ul#editScheduleList.am-list.am-list-border

                        button#editScheduleLine.am-btn.am-btn-warning.am-btn-block(type='button') 添加工作日程
                    .am-form-group
                        .am-u-sm-6
                            button.am-btn.am-btn-default.cancel-modal(type='button',data-am-modal-close) 返回
                        .am-u-sm-6
                            button.am-btn.am-btn-primary(type='submit') 完成
    // 删除日程确认模态框
    #deleteWorkModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel='') 取消
                span.am-modal-btn(data-am-modal-confirm='') 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $addScheduleButton = $('#addScheduleButton');
                var $addScheduleModal = $('#addScheduleModal');
                var $editScheduleModal = $('#editScheduleModal');
                var $addScheduleLine = $('#addScheduleLine');
                var $editScheduleLine = $('#editScheduleLine');
                var $addScheduleList = $('#addScheduleList');
                var $editScheduleList = $('#editScheduleList');
                var $removeScheduleLine = $('.removeScheduleLine')
                var $removeEditScheduleLine = $('.removeEditScheduleLine')
                var $loadingModal = $('#loadingModal');
                var $editWorkButton = $('.editWorkButton');
                var $deleteWorkButton = $('.deleteWorkButton');
                var $deleteWorkModal = $('#deleteWorkModal');
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/work/schedule/" + num + "/";
                        }
                    }
                });

                if (localStorage.getItem('strHenhouseId') != null && localStorage.getItem('strHenhouseId') != "") {
                    localStorage.removeItem("strHenhouseId");
                }

                $addScheduleButton.on('click',function () {
                   $addScheduleModal.modal('open');
                });

                $editWorkButton.on('click',function () {
                    var workId = $(this).parents('tr').data('workid');
                    $.ajax({
                        type:'post',
                        url:'/work/schedule/edit',
                        data:{'workId':workId},
                        success:function (data) {
                            if (data.invoke_result == "INVOKE_SUCCESS") {
                                $('#workId').val(workId);
                                $('#editScheduleName').val(data.invoke_data_name);
                                var insertHTML = '';
                                var arrWork = data.invoke_data;
                                $editScheduleList.children('li').remove()
                                $.each(arrWork,function (index,value) {
                                    insertHTML += '<li class="am-g am-margin-vertical-xs" data-cursor="pointer" style="cursor: pointer;"><div class="am-u-sm-2"><span class="am-icon-arrows am-margin-top-xs">移动</span></div><div class="am-u-sm-4"><input type="time" name="update[workTime]" required="" value="'+value.work_time+'"></div><div class="am-u-sm-4"><textarea  placeholder="请输入工作任务" required name="update[scheduleContent]" style="height:42px" class="am-field-valid">'+value.task+'</textarea></div><div class="am-u-sm-2"><button type="button" class="am-btn am-btn-danger removeEditScheduleLine">删除</button></div></li>'
                                })
                                $editScheduleList.append(insertHTML);
                                $editScheduleModal.modal('open');
                            } else if (data.invoke_result == "INVOKE_FAILURE") {
                                console.errot("编辑日程获取信息错误！！！");
                            }
                        }
                    })
                });

                // == 添加日程任务
                $addScheduleLine.on('click',function () {
                    $removeScheduleLine.prop('disabled',false);
                    var insertHTML = '<li class="am-g am-margin-vertical-xs" data-cursor="pointer" style="cursor: pointer;"><div class="am-u-sm-2"><span class="am-icon-arrows am-margin-top-xs">移动</span></div><div class="am-u-sm-4"><input type="time" name="add[workTime]" required=""></div><div class="am-u-sm-4"><textarea  placeholder="请输入工作任务" required name="add[scheduleContent]" style="height:42px" class="am-field-valid"></textarea></div><div class="am-u-sm-2"><button type="button" class="am-btn am-btn-danger removeScheduleLine">删除</button></div></li>';
                    $addScheduleList.append(insertHTML);
                });
                // == 添加日程任务(编辑)
                $editScheduleLine.on('click', function () {
                    $removeEditScheduleLine.prop('disabled', false);
                    var insertHTML = '<li class="am-g am-margin-vertical-xs" data-cursor="pointer" style="cursor: pointer;"><div class="am-u-sm-2"><span class="am-icon-arrows am-margin-top-xs">移动</span></div><div class="am-u-sm-4"><input type="time" name="update[workTime]" required=""></div><div class="am-u-sm-4"><textarea  placeholder="请输入工作任务" required name="update[scheduleContent]" style="height:42px" class="am-field-valid"></textarea></div><div class="am-u-sm-2"><button type="button" class="am-btn am-btn-danger removeEditScheduleLine">删除</button></div></li>';
                    $editScheduleList.append(insertHTML);
                });

                // == 删除日程任务
                $addScheduleList.on('click','.removeScheduleLine',function (e) {
                    var $this = $(this);
                    var listCount = $addScheduleList.children('li').length;
                    if (listCount == 1){
                        $this.prop('disabled',true);
                    }else {
                        $this.parents('li').remove()
                    }
                });

                // == 删除日程任务(编辑)
                $editScheduleList.on('click', '.removeEditScheduleLine', function (e) {
                    var $this = $(this);
                    var listCount = $editScheduleList.children('li').length;
                    if (listCount == 1) {
                        $this.prop('disabled', true);
                    } else {
                        $this.parents('li').remove()
                    }
                });

                // == 删除日程
                $deleteWorkButton.on('click',function () {
                    $deleteWorkModal.modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var workid = $(this.relatedTarget).parents('tr').data('workid');
                            $.ajax({
                                type: 'delete',
                                url: '/work/schedule',
                                data: {"workId": workid},
                                success: function (data) {
                                    if (data.invoke_result == "INVOKE_SUCCESS") {
                                        window.location.href = '/work/schedule/1/';
                                    } else if (data.invoke_result == "INVOKE_FAILURE") {
                                        console.error(data);
                                    }
                                },
                                error: function () {
                                    console.error("删除日程错误！！！");
                                }
                            });
                        }
                    });
                });

                $addScheduleList.dragsort({
                    dragSelectorExclude:'.removeScheduleLine,input,textarea'
                });
                $editScheduleList.dragsort({
                    dragSelectorExclude: '.removeScheduleLine,input,textarea'
                });
            })(Hen)
        });