doctype html
html.no-js.fixed-layout
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}--慧养鸡管理平台
        meta(name='description', content='慧养鸡管理平台')
        meta(name='keywords', content='index')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='renderer', content='webkit')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='apple-mobile-web-app-title', content='Amaze UI')
        include ./includes/style
    body
        block content