doctype html
html.no-js.fixed-layout
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='#{title}')
        meta(name='keywords', content='index')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='renderer', content='webkit')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='apple-mobile-web-app-title', content='Amaze UI')
        include ./includes/style
        style.
            .admin-main {
                padding-top: 51px;
            }
            .digital {
                display: inline;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .digital li {
                display: inline-block;
            }
    body
        header.am-topbar.am-topbar-inverse.admin-header
            .am-topbar-brand
                strong 慧养鸡
                small 管理平台
            #topbar-collapse.am-collapse.am-topbar-collapse
                ul.am-nav.am-nav-pills.am-topbar-nav.am-topbar-right.admin-header-list
                    li
                        a(href='javascript:;')
                            span.am-icon-calendar
                            span#Date
                            ul#digital-clock.digital
                                li.entypo-clock(style='margin-right:5px')
                                li.hour
                                li :
                                li.min
                                li :
                                li.sec
                                li.meridiem
                    li
                        a(href='javascript:;')
                            span#weather
                    li.am-dropdown(data-am-dropdown='')
                        a.am-dropdown-toggle(data-am-dropdown-toggle='', href='javascript:;')
                            span.am-icon-users
                            span#loginMember
                                if user
                                    |  #{user.name}
                                else
                                    | 管理员
                            span.am-icon-caret-down
                        ul.am-dropdown-content
                            li
                                a(href='/my/view', target='iframe')
                                    span.am-icon-user
                                    |  个人信息
                            li
                                a(href='/my/password', target='iframe')
                                    span.am-icon-cog
                                    |  修改密码
                            li
                                a(href='/logout')
                                    span.am-icon-power-off
                                    |  退出
        .am-cf.admin-main
            // sidebar start
            #admin-offcanvas.admin-sidebar.am-offcanvas
                .am-offcanvas-bar.admin-offcanvas-bar
                    ul.am-list.admin-sidebar-list
                        li
                            a(href='/index', target='iframe')
                                span.am-icon-home
                                |  首页
                        li.admin-parent
                            a.am-cf(data-am-collapse="{target: '#collapse-henhouse'}")
                                span.am-icon-shopping-basket
                                |  鸡舍管理
                                span.am-icon-angle-right.am-fr.am-margin-right
                            ul#collapse-henhouse.am-list.am-collapse.admin-sidebar-sub.am-in
                                li
                                    a.am-cf(href='/henhouse/list/1/', target='iframe')
                                        span.am-icon-list
                                        |  鸡舍列表
                                li
                                    a(href='/henhouse/statistics', target='iframe')
                                        span.am-icon-area-chart
                                        |  鸡舍统计
                        li.admin-parent
                            a.am-cf(data-am-collapse="{target: '#collapse-breeder'}")
                                span.am-icon-slideshare
                                |  饲养管理
                                span.am-icon-angle-right.am-fr.am-margin-right
                            ul#collapse-breeder.am-list.am-collapse.admin-sidebar-sub.am-in
                                li
                                    a(href='/henhouse/control/1/', target='iframe')
                                        span.am-icon-cogs
                                        |  养鸡模型
                                li
                                    a.am-cf(href='/breeder/list/1', target='iframe')
                                        span.am-icon-list
                                        |  饲养员列表
                                li
                                    a(href='/work/schedule/1/', target='iframe')
                                        span.am-icon-calendar
                                        |  工作日程
                                li
                                    a(href='/work/task/1', target='iframe')
                                        span.am-icon-tasks
                                        |  工作任务
                                li
                                    a(href='/work/recode/1/', target='iframe')
                                        span.am-icon-th
                                        |  工作记录
                        li.admin-parent
                            a.am-cf(data-am-collapse="{target: '#collapse-member'}")
                                span.am-icon-group
                                |  会员管理
                                span.am-icon-angle-right.am-fr.am-margin-right
                            ul#collapse-member.am-list.am-collapse.admin-sidebar-sub.am-in
                                li
                                    a.am-cf(href='/member/list/1/', target='iframe')
                                        span.am-icon-list-ul
                                        |  会员列表
                        li.admin-parent
                            a.am-cf(data-am-collapse="{target: '#collapse-farm'}")
                                span.am-icon-map
                                |  农场信息
                                span.am-icon-angle-right.am-fr.am-margin-right
                            ul#collapse-farm.am-list.am-collapse.admin-sidebar-sub.am-in
                                li
                                    a(href='/brand', target='iframe')
                                        span.am-icon-map-o
                                        |  品牌简介
                                li
                                    a(href='/environment/list/1', target='iframe')
                                        span.am-icon-ioxhost
                                        |  环境情况
                                li
                                    a(href='/exhibition/list/1', target='iframe')
                                        span.am-icon-eye
                                        |  展示
                                li
                                    a(href='/feed', target='iframe')
                                        span.am-icon-life-ring
                                        |  饲料信息
                                li
                                    a(href='/check', target='iframe')
                                        span.am-icon-newspaper-o
                                        |  检测报告
                                li
                                    a(href='/recode', target='iframe')
                                        span.am-icon-download
                                        |  履历下载
                                li
                                    a(href='/image', target='iframe')
                                        span.am-icon-picture-o
                                        |  图片
                                li
                                    a(href='/varieties/list', target='iframe')
                                        span.am-icon-leaf
                                        |  品种信息
                                li
                                    a(href='/feedback/1', target='iframe')
                                        span.am-icon-volume-control-phone
                                        |  意见反馈
                                li
                                    a(href='/comment/1', target='iframe')
                                        span.am-icon-comments
                                        |  评论管理
                                li
                                    a(href='/about', target='iframe')
                                        span.am-icon-info-circle
                                        |  关于我们
                        li.admin-parent
                            a.am-cf(data-am-collapse="{target: '#collapse-me'}")
                                span.am-icon-user-plus
                                |  个人信息
                                span.am-icon-angle-right.am-fr.am-margin-right
                            ul#collapse-me.am-list.am-collapse.admin-sidebar-sub.am-in
                                li
                                    a.am-cf(href='/my/view', target='iframe')
                                        span.am-icon-user
                                        |  我的信息
                                li
                                    a.am-cf(href='/my/password', target='iframe')
                                        span.am-icon-edit
                                        |  修改密码
            // sidebar end
            // content start
            .container-iframe(style='margin-left: 16.3%;width: 83.7%;height: 100%;')
                iframe#mainIframe(allowfullscreen='', mozallowfullscreen='', webkitallowfullscreen='', name='iframe', src='/index', frameborder='0',width='100%',height='100%')
            // content end
        a.am-icon-btn.am-icon-th-list.am-show-sm-only.admin-menu(href='#', data-am-offcanvas="{target: '#admin-offcanvas'}")
        // 数据加载提示框
        #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
            .am-modal-dialog
                .am-modal-hd 登录中，请稍后
                .am-modal-bd
                    span.am-icon-spinner.am-icon-spin
        include ./includes/script
        script.
            // ************** main.html ************* //
            $(document).ready(function () {
                var cookie = $.AMUI.utils.cookie;
                (function (Hen) {
                    if(cookie.get("farmerName")&&cookie.get("farmerId")){
                        $('#loginMember').text(cookie.get("farmerName")).attr('data-memberid',cookie.get("farmerId"));
                    }
                    // == 设置日期
                    $('#Date').html(Hen.ToolsController.getDate().weekAndDate);
                })(Hen);
                // == 设置时间
                $('#digital-clock').clock({offset: '+8',type: 'digital'});
                // == 获取新浪天气
                var city = "北京";
                $.getScript('http://php.weather.sina.com.cn/iframe/index/w_cl.php?code=js&day=0&city=' + city + '&dfc=1&charset=utf-8', function (a) {
                    var s = "", q = "";
                    for (s in window.SWther.w) {
                        q = SWther.w[s][0];
                        $('#weather').text(city+" "+q.t1+"℃"+ " ~ " + q.t2+"℃"+" "+q.s1 + '转' + q.s2 + ' 风力：' + q.p1 +"级");
                    }
                });
            });