extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 个人信息
                        li.am-active 修改密码
                hr
                .am-g
                    .am-u-sm-8.am-u-sm-offset-2
                        if alert
                            .am-alert.am-alert-danger(data-am-alert)
                                | #{alert}
                    .am-u-sm-12
                        form#myPasswordForm.am-form.am-form-horizontal(action='/my/update/password',method='post',data-am-validator)
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='oldPassword') 请输入旧密码
                                .am-u-sm-6.am-u-sm-pull-2
                                    input#oldPassword(type='password', placeholder='输入旧密码', minlength='1', maxlength='20', required ,name='update[oldPassword]',value='')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='newPassword') 请输入新密码
                                .am-u-sm-6.am-u-sm-pull-2
                                    input#newPassword.js-pattern-mobile(type='password', placeholder='输入新密码', minlength='1', maxlength='20', required ,name='password',value='')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='confirmPassword') 密码确认
                                .am-u-sm-6.am-u-sm-pull-2
                                    input#confirmPassword(type='password', placeholder='再次输入新密码', minlength='1', maxlength='20', required ,name='update[password]',value='',data-equal-to="#newPassword")
                            .am-form-group
                                label.am-u-sm-4.am-form-label 密码强度
                                .am-u-sm-6.am-u-sm-pull-2
                                    #level.pw-strength
                                        .pw-bar
                                        .pw-bar-on
                                        .pw-txt
                                            span 弱
                                            span 中
                                            span 强
                            .am-form-group
                                .am-u-sm-6.am-u-sm-push-4
                                    a.am-btn.am-btn-default.cancel-modal.am-fl(href='/index') 返回
                                    button#addMemberButton.am-btn.am-btn-primary.am-fr(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "更新中..."}') 完成
            include ../includes/footer
        // content end
    include ../includes/script
    script.
        $('#newPassword').keyup(function () {
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
            var enoughRegex = new RegExp("(?=.{6,}).*", "g");

            if (false == enoughRegex.test($(this).val())) {
                $('#level').removeClass('pw-weak');
                $('#level').removeClass('pw-medium');
                $('#level').removeClass('pw-strong');
                $('#level').addClass(' pw-defule');
                //密码小于六位的时候，密码强度图片都为灰色
            }
            else if (strongRegex.test($(this).val())) {
                $('#level').removeClass('pw-weak');
                $('#level').removeClass('pw-medium');
                $('#level').removeClass('pw-strong');
                $('#level').addClass(' pw-strong');
                //密码为八位及以上并且字母数字特殊字符三项都包括,强度最强
            }
            else if (mediumRegex.test($(this).val())) {
                $('#level').removeClass('pw-weak');
                $('#level').removeClass('pw-medium');
                $('#level').removeClass('pw-strong');
                $('#level').addClass(' pw-medium');
                //密码为七位及以上并且字母、数字、特殊字符三项中有两项，强度是中等
            }
            else {
                $('#level').removeClass('pw-weak');
                $('#level').removeClass('pw-medium');
                $('#level').removeClass('pw-strong');
                $('#level').addClass('pw-weak');
                //如果密码为6为及以下，就算字母、数字、特殊字符三项都包括，强度也是弱的
            }
            return true;
        });