extends ../layout

block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javascript:;') 个人信息
                        li.am-active 我的信息
                hr
                .am-g
                    .am-u-sm-12
                        form#myInfoForm.am-form.am-form-horizontal
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='myName') 用户名
                                .am-u-sm-6.am-u-sm-pull-2
                                    input#myName(type='text', placeholder='输入用户名', minlength='1', maxlength='11', required ,name='edit[username]',value='#{user.username}',disabled)
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='myPhone') 手机号
                                .am-u-sm-6.am-u-sm-pull-2
                                    if user.phone
                                        input#myPhone.js-pattern-mobile(type='text', placeholder='输入手机号', minlength='1', maxlength='11' ,name='edit[phone]',value='#{user.phone}',data-validation-message='输入的手机号有误')
                                    else
                                        input#myPhone.js-pattern-mobile(type='text', placeholder='输入手机号', minlength='1', maxlength='11' ,name='edit[phone]',data-validation-message='输入的手机号有误')
                            .am-form-group
                                label.am-u-sm-4.am-form-label(for='realName') 真实姓名
                                .am-u-sm-6.am-u-sm-pull-2
                                    input#realName(type='text', placeholder='输入真实姓名', minlength='1', maxlength='5', required ,name='edit[name]',value='#{user.name}')
                            .am-form-group
                                .am-u-sm-6.am-u-sm-push-4
                                    a.am-btn.am-btn-default.cancel-modal.am-fl(href='/index') 退出
                                    button#updateMyInfoButton.am-btn.am-btn-primary.am-fr(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "创建中..."}') 编辑
            include ../includes/footer
        // content end
    //-  用户信息修改成功提示窗口
    #reloginModal.am-modal.am-modal-alert(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 修改成功
            .am-modal-bd
                | 用户信息修改成功，点击确定按钮重新登录
            .am-modal-footer
                span.am-modal-btn(onclick='javascript:window.parent.location.href="/logout"') 确定
    include ../includes/script
    script.
        $(document).ready(function () {
            (function (Hen) {
                var $reloginModal = $('#reloginModal');
                var $myInfoForm = $('#myInfoForm');
                var $myName = $('#myName');
                var $myPhone = $('#myPhone');
                var $realName = $('#realName');
                var $updateMyInfoButton = $('#updateMyInfoButton');
                $myInfoForm.validator({
                    patterns: {
                        mobile:/^1((3|5|8){1}\d{1}|70)\d{8}$/
                    },
                    onInValid: function (validity) {
                        var $field = $(validity.field);
                        var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
                        $myPhone.val('').attr('placeholder',msg)
                    },
                    submit: function () {
                        var $myNameVal = $myName.val();
                        var $myPhoneVal = $myPhone.val();
                        var $realNameVal = $realName.val();
                        var formValidity = this.isFormValid();
                        if (formValidity) {
                            // 验证成功的逻辑
                            $updateMyInfoButton.button('loading');
                            $.ajax({
                                type: 'post',
                                url: '/my/update',
                                data: {
                                    'update': {
                                        'username': $myNameVal,
                                        'phone': $myPhoneVal,
                                        'name': $realNameVal
                                    }
                                },
                                success: function (data, status, xhr) {
                                    $updateMyInfoButton.button('reset');
                                    if (data.invoke_result == "INVOKE_SUCCESS") {
                                        $reloginModal.modal('open');
                                    } else if (data.invoke_result == "INVOKE_FAILURE") {
                                        console.error('用户修改信息错误！！！')
                                    }
                                },
                                error: function () {
                                    console.error("添加品种信息错误！！！");
                                }
                            });
                        } else {
                            // 验证失败的逻辑
                        }
                        return false;
                    }
                });
            })(Hen)
        });