mixin searchSelect(data)
    each item in data
        option(value=item.id) #{item.name}

mixin hencoopSelect(data)
    each item in data
        option(value=item.hencoop_number) #{item.hencoop_number}

mixin hencoopList(data)
    each item in data
        option(value=item.id) #{item.hencoop_number}号鸡舍

mixin varietiesSelect(data)
    each item in data
        option(value=item.id) #{item.varieties_name}