extends ../layout
include ../includes/mixin
block content
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.config.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.all.min.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/lang/zh-cn/zh-cn.js')
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='#') 农场信息
                        li.am-active 修改环境
                hr
                form#editEnvironmentForm.am-form.am-form-horizontal(action='/environment/update',method='post',data-am-validator)
                    input#editEnvironmentId(type='hidden',value='#{exhid}',name='edit[environment_id]')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editEnvironmentTitle') 标题
                        .am-u-sm-8.am-u-end
                            input#editEnvironmentTitle(type='text',required,name='edit[environment_title]',placeholder='输入展示标题',value='#{exhtitle}')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editor') 内容
                        .am-u-sm-8.am-u-end
                            input#tempContent(type='hidden',value='#{exhcontent}')
                            script#editor(type='text/plain', style='width:100%;height:500px;',name='edit[environment_content]')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editHencoop') 添加鸡舍
                        .am-u-sm-8.am-u-end
                            select#editHencoop(data-am-selected="{searchBox: 1,btnWidth: '100%',btnStyle: 'secondary',maxHeight: 100}",required ,placeholder='请选择鸡舍',name='edit[hencoop_id]')
                                +hencoopList(hencoop)
                    .am-form-group
                        .am-u-sm-4.am-u-sm-offset-4
                            a.am-btn.am-btn-default.cancel-modal(href='/environment/list/1') 取消
                        .am-u-sm-4
                            button#submitEditorButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "提交中..."}') 完成
    include ../includes/script
    script(type='text/javascript').
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');
        $(function () {
            ue.ready(function () {
                //异步回调

                setTimeout(function () {
                    ue.setContent($('#tempContent').val());
                }, 500);
            });

        });