extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 农场信息
                        li.am-active 环境情况
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                a.am-btn.am-btn-default(href='/environment/add') 添加环境
                hr
                .am-g
                if (!data.length)
                    .am-u-sm-12
                        #Tips.am-alert.am-alert-danger(data-am-alert) 暂无环境信息
                else
                    .am-u-sm-12
                        table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                            thead
                                tr
                                    th 标题
                                    th(style="width:400px") 绑定鸡舍
                                    th 操作
                            tbody#memberListBody
                                each item in data
                                    tr(data-environmentid='#{item.id}')
                                        td #{item.title}
                                        td.js-feedback-content #{item.hencoop_number}号鸡舍
                                        td
                                            a.am-btn.am-btn-success.editExhibitionButton(href='/environment/edit/#{item.id}') 编辑
                                            button.am-btn.am-btn-danger.deleteEnvironmentButton 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
            include ../includes/footer
        // content end
    // 删除展示信息模态框
    #deleteSuggestionModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel) 取消
                span.am-modal-btn(data-am-modal-confirm) 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            var $editExhibitionModal = $('#editExhibitionModal');
            var $editExhibitionId = $('#editExhibitionId');
            var $editExhibitionButton = $('.editExhibitionButton');
            var $editExhibitionTitle = $('#editExhibitionTitle');
            var $editExhibitionContent = $('#editExhibitionContent');
            var $editHencoop = $('#editHencoop');

            (function (Hen) {
                var $loadingModal = $('#loadingModal')
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/exhibition/list/"+ num;
                        }
                    }
                });

                /**
                 *   添加展示信息
                 */
                $(document).on('click','#addExhibitionButton',function () {
                    $('#addExhibitionModal').modal('open');
                });
                /**
                 * 删除展示信息
                 */
                $(document).on('click', '.deleteEnvironmentButton', function () {
                    $('#deleteSuggestionModal').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var environmentid = $(this.relatedTarget).parents('tr').data('environmentid');
                            $.ajax({
                                type: 'delete',
                                url: '/environment/list',
                                data: {"id":environmentid},
                                success: function (data, status, xhr) {
                                    if (data.invoke_result == "INVOKE_SUCCESS") {
                                        window.location.href = '/environment/list/1';
                                    } else if (data.invoke_result == "INVOKE_FAILURE") {
                                        window.location.href = '/environment/list/1';
                                    }
                                },
                                error: function () {
                                    console.error("删除环境信息错误！！！");
                                }
                            });
                        }
                    });
                });

            })(Hen)
        });