extends ../layout
include ../includes/mixin
block content
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.config.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.all.min.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/lang/zh-cn/zh-cn.js')
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='#') 农场信息
                        li.am-active 添加展示
                hr
                form#addExhibitionForm.am-form.am-form-horizontal(action='/exhibition/add',method='post',data-am-validator,enctype='multipart/form-data')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='addExhibitionTitle') 标题
                        .am-u-sm-8.am-u-end
                            input#addExhibitionTitle(type='text',required,name='add[exhibition_title]',placeholder='输入展示标题')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editor') 内容
                        .am-u-sm-8.am-u-end
                            script#editor(type='text/plain', style='width:100%;height:500px;',name='add[exhibition_content]')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='addHencoop') 添加鸡舍
                        .am-u-sm-8.am-u-end
                            select#addHencoop(data-am-selected="{searchBox: 1,btnWidth: '100%',btnStyle: 'secondary',maxHeight: 100}",required ,placeholder='请选择鸡舍',name='add[hencoop_id]')
                                option(value='') 请输入鸡舍
                                +hencoopList(hencoop)
                    .am-form-group.am-form-file.am-u-sm-8.am-u-sm-push-2
                        div.am-u-sm-4.am-u-end
                            button.am-btn.am-btn-default(type='button')
                                i.am-icon-cloud-upload
                                |  选择视频文件
                        input#video(type='file',name='videofile')
                        #videoName.am-u-sm-4.am-u-end
                    .am-form-group.am-form-file.am-u-sm-8.am-u-sm-push-2
                        div.am-u-sm-4.am-u-end
                            button.am-btn.am-btn-default(type='button')
                                i.am-icon-cloud-upload
                                |  选择视频海报
                        input#poster(type='file',name='bannerfile')
                        #posterName.am-u-sm-4.am-u-end
                    .am-form-group
                        .am-u-sm-4.am-u-sm-offset-4
                            a.am-btn.am-btn-default.cancel-modal(href='/exhibition/list/1') 取消
                        .am-u-sm-4
                            button#submitEditorButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "提交中..."}') 完成
    include ../includes/script
    script(type='text/javascript').
        var ue = UE.getEditor('editor');
        $('#video').on('change', function () {
            var fileNames = '';
            $.each(this.files, function () {
                fileNames += '<span class="am-badge">' + this.name + '</span> ';
            });
            $('#videoName').html(fileNames);
        });

        $('#poster').on('change', function () {
            var fileNames = '';
            $.each(this.files, function () {
                fileNames += '<span class="am-badge">' + this.name + '</span> ';
            });
            $('#posterName').html(fileNames);
        });