extends ../layout
include ../includes/mixin
block content
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.config.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/ueditor.all.min.js')
    script(type='text/javascript', charset='utf-8', src='/ueditor/lang/zh-cn/zh-cn.js')
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='#') 农场信息
                        li.am-active 修改展示
                hr
                form#editExhibitionForm.am-form.am-form-horizontal(action='/exhibition/update',method='post',data-am-validator,enctype='multipart/form-data')
                    input#editExhibitionId(type='hidden',value='#{exhid}',name='edit[exhibition_id]')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editExhibitionTitle') 标题
                        .am-u-sm-8.am-u-end
                            input#editExhibitionTitle(type='text',required,name='edit[exhibition_title]',placeholder='输入展示标题',value='#{exhtitle}')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editor') 内容
                        .am-u-sm-8.am-u-end
                            input#tempContent(type='hidden',value='#{exhcontent}')
                            script#editor(type='text/plain', style='width:100%;height:500px;',name='edit[exhibition_content]')
                    .am-form-group
                        label.am-u-sm-2.am-form-label(for='editHencoop') 添加鸡舍
                        .am-u-sm-8.am-u-end
                            select#editHencoop(data-am-selected="{searchBox: 1,btnWidth: '100%',btnStyle: 'secondary',maxHeight: 100}",required ,placeholder='请选择鸡舍',name='edit[hencoop_id]')
                                +hencoopList(hencoop)
                    if exhvideo
                        .am-form-group
                            div.am-u-sm-8.am-u-sm-push-2
                                video(src='#{exhvideo}',poster='#{exhposter}',width='500',height='300',controls="controls")
                                button.js-rm-video.am-btn.am-btn-danger.cancel-modal.am-margin-left-lg.am-margin-bottom-lg(type='button',data-am-popover="{content:'确定删除视频', trigger:'hover',theme: 'danger'}") 删除
                    .am-form-group.am-form-file.am-u-sm-8.am-u-sm-push-2
                        div.am-u-sm-4.am-u-end
                            button.am-btn.am-btn-default(type='button')
                                i.am-icon-cloud-upload
                                |  选择视频文件
                        input#video(type='file',name='videofile')
                        input#videoHidden(type='hidden',name='oldvideofile',value='#{exhvideo}')
                        #videoName.am-u-sm-4.am-u-end
                    .am-form-group.am-form-file.am-u-sm-8.am-u-sm-push-2
                        div.am-u-sm-4.am-u-end
                            button.am-btn.am-btn-default(type='button')
                                i.am-icon-cloud-upload
                                |  选择视频海报
                        input#poster(type='file',name='bannerfile')
                        input#posterHidden(type='hidden',name='oldposterfile',value='#{exhposter}')
                        #posterName.am-u-sm-4.am-u-end
                    .am-form-group
                        .am-u-sm-4.am-u-sm-offset-4
                            a.am-btn.am-btn-default.cancel-modal(href='/exhibition/list/1') 取消
                        .am-u-sm-4
                            button#submitEditorButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "提交中..."}') 完成
    include ../includes/script
    script(type='text/javascript').
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');
        $(function () {
            ue.ready(function () {
                //异步回调

                setTimeout(function () {
                    ue.setContent($('#tempContent').val());
                }, 500);
            });

            $('#video').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#videoName').html(fileNames);
            });

            $('#poster').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#posterName').html(fileNames);
            });

            $('.js-rm-video').on('click', function () {
                $(this).parents('.am-form-group').remove();
                $('.am-popover').remove();
                $("input[name='oldvideofile']").val("");
                $("input[name='oldposterfile']").val("");
            });

        });