extends ../layout
include ../includes/mixin
block content
    .am-cf.admin-main
        // content start
        .admin-content
            .admin-content-body
                .am-cf.am-padding.am-padding-bottom-0
                    ol.am-breadcrumb.m0
                        li
                            strong.am-text-primary.am-text-lg
                                a.am-icon-home(href='/index') 首页
                        li
                            a(href='javsscript:;') 农场信息
                        li.am-active 展示
                hr
                .am-g
                    .am-u-sm-12.am-u-md-2.am-fr
                        .am-input-group.am-input-group-sm
                            span.am-input-group-btn
                                a.am-btn.am-btn-default(href='/exhibition/add') 添加展示
                hr
                .am-g
                if (!data.length)
                    .am-u-sm-12
                        #Tips.am-alert.am-alert-danger(data-am-alert) 暂无展示信息
                else
                    .am-u-sm-12
                        table#memberList.am-table.am-table-bd.am-table-striped.admin-content-table
                            thead
                                tr
                                    th 标题
                                    th(style="width:400px") 绑定鸡舍
                                    th 操作
                            tbody#memberListBody
                                each item in data
                                    tr(data-exhibitionid='#{item.id}')
                                        td #{item.title}
                                        td.js-feedback-content #{item.hencoop_number}号鸡舍
                                        td
                                            a.am-btn.am-btn-success.editExhibitionButton(href='/exhibition/edit/#{item.id}') 编辑
                                            button.am-btn.am-btn-danger.deleteExhibitionButton 删除
                #paginationArea.am-g
                    .am-u-sm-12
                        .am-cf
                            | 共
                            span#totalCount #{page.totalCount}
                            |  条记录
                            .am-fr
                                ul#pagination.am-pagination.am-pagination-default(data-am-widget='pagination')
            include ../includes/footer
        // content end
    // 添加展示信息模态框
    #addExhibitionModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 添加展示信息
                a.am-close.am-close-spin(href='javascript:;',data-am-modal-close) &times;
            .am-modal-bd
                form#addExhibitionForm.am-form.am-form-horizontal(action='/exhibition/add',method='post',data-am-validator)
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='addExhibitionTitle') 标题
                        .am-u-sm-8
                            input#addExhibitionTitle(type='text',required,name='add[exhibition_title]',placeholder='输入展示标题')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='addExhibitionContent') 内容
                        .am-u-sm-8
                            textarea#addExhibitionContent.js-ajax-validate(placeholder='输入展示内容', required,name='add[exhibition_content]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='addHencoop') 添加鸡舍
                        .am-u-sm-8
                            select#addHencoop(data-am-selected="{searchBox: 1,btnWidth: '100%',btnStyle: 'secondary',maxHeight: 100}",required ,placeholder='请选择鸡舍',name='add[hencoop_id]')
                                option(value='') 请输入鸡舍
                                +hencoopList(hencoop)
                    .am-form-group
                        .am-u-sm-6
                            button.am-btn.am-btn-default.cancel-modal(type='button',data-am-modal-close) 取消
                        .am-u-sm-6
                            button#subExhibitionButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "提交中..."}') 完成
    // 编辑展示信息模态框
    #editExhibitionModal.am-modal.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd
                | 编辑展示信息
                a.am-close.am-close-spin(href='javascript:;',data-am-modal-close) &times;
            .am-modal-bd
                form#editExhibitionForm.am-form.am-form-horizontal(action='/exhibition/update',method='post',data-am-validator)
                    input#editExhibitionId(type='hidden',name='edit[exhibition_id]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='editExhibitionTitle') 标题
                        .am-u-sm-8
                            input#editExhibitionTitle(type='text',required,name='edit[exhibition_title]',placeholder='输入展示标题')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='editExhibitionContent') 内容
                        .am-u-sm-8
                            textarea#editExhibitionContent.js-ajax-validate(placeholder='输入展示内容', required,name='edit[exhibition_content]')
                    .am-form-group
                        label.am-u-sm-4.am-form-label(for='editHencoop') 添加鸡舍
                        .am-u-sm-8
                            select#editHencoop(data-am-selected="{searchBox: 1,btnWidth: '100%',btnStyle: 'secondary',maxHeight: 100}",required ,placeholder='请选择鸡舍',name='edit[hencoop_id]')
                    .am-form-group
                        .am-u-sm-6
                            button.am-btn.am-btn-default.cancel-modal(type='button',data-am-modal-close) 取消
                        .am-u-sm-6
                            button#editVarietiesButton.am-btn.am-btn-primary(type='submit',data-am-loading='{spinner: "circle-o-notch", loadingText: "提交中..."}') 完成
    // 删除展示信息模态框
    #deleteSuggestionModal.am-modal.am-modal-confirm(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 提示
            .am-modal-bd
                | 你，确定要删除这条记录吗？
            .am-modal-footer
                span.am-modal-btn(data-am-modal-cancel) 取消
                span.am-modal-btn(data-am-modal-confirm) 确定
    #loadingModal.am-modal.am-modal-loading.am-modal-no-btn(tabindex='-1')
        .am-modal-dialog
            .am-modal-hd 数据加载中，请稍后...
            .am-modal-bd
                span.am-icon-spinner.am-icon-spin
    include ../includes/script
    script.
        $(document).ready(function () {
            var $editExhibitionModal = $('#editExhibitionModal');
            var $editExhibitionId = $('#editExhibitionId');
            var $editExhibitionButton = $('.editExhibitionButton');
            var $editExhibitionTitle = $('#editExhibitionTitle');
            var $editExhibitionContent = $('#editExhibitionContent');
            var $editHencoop = $('#editHencoop');

            (function (Hen) {
                var $loadingModal = $('#loadingModal')
                // == 加载分页器
                $('#pagination').jqPaginator({
                    totalPages: #{page.totalPage} || 1,
                    visiblePages: #{page.currentCount},
                    currentPage: #{page.currentPage},
                    activeClass: 'am-active',
                    first: '<li class="am-pagination-first"><a href="javascript:void(0);">第一页</a></li>',
                    prev: '<li class="am-pagination-prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="am-pagination-next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="am-pagination-last"><a href="javascript:void(0);">最末页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num, type) {
                        if (type == "change") {
                            $loadingModal.modal('open');
                            window.location.href = "/exhibition/list/"+ num;
                        }
                    }
                });

                /**
                 *   添加展示信息
                 */
                $(document).on('click','#addExhibitionButton',function () {
                    $('#addExhibitionModal').modal('open');
                });
                /**
                 * 删除展示信息
                 */
                $(document).on('click', '.deleteExhibitionButton', function () {
                    $('#deleteSuggestionModal').modal({
                        relatedTarget: this,
                        onConfirm: function (options) {
                            var exhibitionid = $(this.relatedTarget).parents('tr').data('exhibitionid');
                            $.ajax({
                                type: 'delete',
                                url: '/exhibition/list',
                                data: {"id":exhibitionid},
                                success: function (data, status, xhr) {
                                    if (data.invoke_result == "INVOKE_SUCCESS") {
                                        window.location.href = '/exhibition/list/1';
                                    } else if (data.invoke_result == "INVOKE_FAILURE") {
                                        window.location.href = '/exhibition/list/1';
                                    }
                                },
                                error: function () {
                                    console.error("删除展示信息错误！！！");
                                }
                            });
                        }
                    });
                });

                /**
                 * 编辑展示信息
                 */
                $editExhibitionButton.on('click',function () {
                    var exhibitionid = $(this).parents('tr').data('exhibitionid');
                    $.ajax({
                        type:'post',
                        url:'/exhibition/edit',
                        data:{"id":exhibitionid},
                        success:function (data) {
                            if (data.invoke_result == "INVOKE_SUCCESS") {
                                console.log(data);
                                $editExhibitionButton.button('reset');
                                $editExhibitionId.val(data.exhibition_hencoop.id)
                                $editExhibitionTitle.val(data.exhibition_hencoop.title);
                                $editExhibitionContent.val(data.exhibition_hencoop.content);
                                var optionHTML = '';
                                var first = '';
                                data.hencooplist.forEach(function (value,index) {
                                    optionHTML += '<option value="'+value.id+'">'+value.hencoop_number+'号鸡舍</option>'
                                });
                                $editHencoop.children().remove().end().append(first+optionHTML);
                                $editExhibitionModal.modal('open');
                            } else if (data.invoke_result == "INVOKE_FAILURE") {
                                console.error("编辑展示信息错误!");
                            }
                        }
                    })
                });

            })(Hen)
        });